Repository GrafeoDB/grafeo: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, ruff-check, ruff-format

.pre-commit-config.yaml:

# Pre-commit hooks for Grafeo
# Install: cargo install prek && prek install
# Run manually: prek run --all-files
# Docs: https://github.com/j178/prek

repos:
  # Built-in prek hooks
  - repo: builtin
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixers
        exclude: '\.md$'
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Typo checker
  - repo: https://github.com/crate-ci/typos
    rev: v1.29.4
    hooks:
      - id: typos

  # Local Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

      # Coverage check - manual only (too slow for every commit)
      # Run with: prek run cargo-llvm-cov
      - id: cargo-llvm-cov
        name: cargo llvm-cov
        entry: cargo llvm-cov --all-features --workspace --fail-under-lines 70
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]

  # Python hooks
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]

python datetime bugfix
  CHANGELOG.md
  crates/bindings/python/src/types.rs
  crates/bindings/python/tests/lpg/gql/test_property_apis.py
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

named constraints, WAL sync and review findings
  CHANGELOG.md
  crates/grafeo-core/src/execution/operators/filter.rs
  crates/grafeo-core/src/graph/compact/layered.rs
  crates/grafeo-engine/src/catalog/mod.rs
  crates/grafeo-engine/src/database/catalog_section.rs
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/src/database/schema_replay.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/tests/checkpoint_replay.rs
  crates/grafeo-engine/tests/crash_injection_single_file.rs
  crates/grafeo-engine/tests/ddl_replay.rs
  crates/grafeo-storage/src/file/manager.rs
  crates/grafeo-storage/src/wal/flusher.rs
  crates/grafeo-storage/src/wal/mod.rs
  crates/grafeo-storage/src/wal/record.rs
  docs/user-guide/gql/schema.md
  scripts/ci-spec.ps1
  scripts/convert_w3c_sparql.py
  tests/spec/lpg/cypher/constraints.gtest
  tests/spec/lpg/gql/20.1_schema_ddl.gtest
  tests/spec/lpg/gql/21.1_functions_string.gtest
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

doc correction
  CHANGELOG.md
  docs/user-guide/gql/schema.md
  tests/spec/lpg/gql/20.1_schema_ddl.gtest
Due: none

last cubic comment based fixes
  CHANGELOG.md
  crates/grafeo-core/src/execution/operators/merge.rs
  crates/grafeo-core/src/execution/operators/mutation.rs
  crates/grafeo-engine/src/catalog/mod.rs
  crates/grafeo-engine/src/config.rs
  crates/grafeo-engine/src/database/catalog_section.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/tests/crash_injection_single_file.rs
  tests/spec/lpg/cypher/constraints.gtest
  tests/spec/lpg/gql/20.1_schema_ddl.gtest
Due: cargo-fmt, cargo-clippy

deriva based improvements and fixes
  .github/workflows/ci.yml
  CHANGELOG.md
  crates/bindings/python/build.rs
  crates/bindings/python/python/grafeo/__init__.py
  crates/bindings/python/src/lib.rs
  crates/bindings/python/tests/lpg/cypher/spec/test_08_admin_schema.py
  crates/bindings/python/tests/test_build_features.py
  crates/bindings/python/tests/test_louvain_determinism.py
  crates/bindings/python/tests/test_map_property_access.py
  crates/grafeo-adapters/src/plugins/algorithms/community.rs
  crates/grafeo-adapters/src/query/gql/parser.rs
  crates/grafeo-common/src/testing/child_process.rs
  crates/grafeo-common/src/testing/mod.rs
  crates/grafeo-engine/src/catalog/mod.rs
  crates/grafeo-engine/src/query/translators/cypher.rs
  crates/grafeo-engine/tests/checkpoint_replay.rs
  crates/grafeo-engine/tests/crash_injection_single_file.rs
  crates/grafeo-engine/tests/database_lock.rs
  crates/grafeo-engine/tests/ddl_replay.rs
  crates/grafeo-engine/tests/wal_transaction_groups.rs
  crates/grafeo-storage/src/file/manager.rs
  crates/grafeo-storage/src/lock.rs
  docs/api/python/index.md
  docs/getting-started/installation.md
  scripts/ci-spec.ps1
  tests/spec/common/algorithms.gtest
  tests/spec/rosetta/map_properties.gtest
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

fix for #410 (slow rollback)
  CHANGELOG.md
  crates/grafeo-common/src/testing/child_process.rs
  crates/grafeo-core/src/graph/lpg/property.rs
  crates/grafeo-core/src/graph/lpg/store/edge_ops.rs
  crates/grafeo-core/src/graph/lpg/store/mod.rs
  crates/grafeo-core/src/graph/lpg/store/node_ops.rs
  crates/grafeo-core/src/graph/lpg/store/property_ops.rs
  crates/grafeo-core/src/graph/lpg/store/statistics.rs
  crates/grafeo-core/src/graph/lpg/store/versioning.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/src/session/rdf.rs
  crates/grafeo-engine/src/transaction/prepared.rs
  crates/grafeo-engine/tests/coverage_session.rs
  crates/grafeo-engine/tests/transaction_changes.rs
Due: cargo-fmt, cargo-clippy

test and fixes
  CHANGELOG.md
  crates/grafeo-core/src/execution/operators/merge.rs
  crates/grafeo-core/src/execution/operators/mod.rs
  crates/grafeo-core/src/execution/operators/mutation.rs
  crates/grafeo-core/src/execution/operators/writer.rs
  crates/grafeo-engine/src/query/planner/lpg/mod.rs
  crates/grafeo-engine/src/query/planner/lpg/mutation.rs
  crates/grafeo-engine/tests/write_checks.rs
  scripts/check_policy.py
  scripts/tests/test_check_policy.py
  tests/spec/lpg/gql/15.5_merge.gtest
  tests/spec/lpg/gql/20.1_schema_ddl.gtest
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

transaction manager now tracks writes per graph
  CHANGELOG.md
  crates/bindings/node/__test__/index.spec.mjs
  crates/bindings/node/src/database.rs
  crates/bindings/python/python/grafeo/__init__.py
  crates/bindings/python/src/database.rs
  crates/bindings/python/src/direct.rs
  crates/bindings/python/src/graph_handle.rs
  crates/bindings/python/src/lib.rs
  crates/bindings/python/tests/lpg/gql/test_cdc.py
  crates/bindings/python/tests/lpg/test_graph_handles.py
  crates/grafeo-engine/src/cdc.rs
  crates/grafeo-engine/src/database/cdc_store.rs
  crates/grafeo-engine/src/database/crud.rs
  crates/grafeo-engine/src/database/graph_handle.rs
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/src/lib.rs
  crates/grafeo-engine/src/query/planner/lpg/mod.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/src/transaction/manager.rs
  crates/grafeo-engine/src/transaction/mod.rs
  crates/grafeo-engine/src/transaction/prepared.rs
  crates/grafeo-engine/src/transaction/write_tracker.rs
  crates/grafeo-engine/tests/cdc_session_mutations.rs
  crates/grafeo-engine/tests/graph_handles.rs
  docs/user-guide/cdc.md
  docs/user-guide/named-graphs.md
  docs/user-guide/python/database.md
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

updated gitignore to ignore e2e test output
  .gitignore
Due: none

added foundation for #356 and #454
  CHANGELOG.md
  crates/grafeo-core/src/execution/operators/mod.rs
  crates/grafeo-core/src/execution/operators/mutation.rs
  crates/grafeo-core/src/execution/operators/node_seek.rs
  crates/grafeo-core/src/execution/operators/writer.rs
  crates/grafeo-core/src/graph/lpg/property.rs
  crates/grafeo-core/src/graph/lpg/store/edge_ops.rs
  crates/grafeo-core/src/graph/lpg/store/mod.rs
  crates/grafeo-core/src/graph/lpg/store/node_ops.rs
  crates/grafeo-core/src/graph/lpg/store/schema.rs
  crates/grafeo-core/src/graph/lpg/store/tests.rs
  crates/grafeo-core/src/graph/lpg/store/versioning.rs
  crates/grafeo-engine/src/catalog/mod.rs
  crates/grafeo-engine/src/query/optimizer/mod.rs
  crates/grafeo-engine/src/query/plan.rs
  crates/grafeo-engine/src/query/planner/lpg/filter.rs
  crates/grafeo-engine/src/query/planner/lpg/mod.rs
  crates/grafeo-engine/src/query/planner/lpg/seek.rs
  crates/grafeo-engine/src/query/processor.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/src/transaction/manager.rs
  crates/grafeo-engine/tests/direct_api.rs
  crates/grafeo-engine/tests/node_seek.rs
Due: cargo-fmt, cargo-clippy

step towards #448, reducing performance deg
  CHANGELOG.md
  crates/bindings/python/src/database.rs
  crates/bindings/python/src/direct.rs
  crates/bindings/python/src/graph_handle.rs
  crates/grafeo-core/src/graph/lpg/store/edge_ops.rs
  crates/grafeo-core/src/graph/lpg/store/node_ops.rs
  crates/grafeo-core/src/graph/lpg/store/versioning.rs
  crates/grafeo-engine/src/database/cdc_store.rs
  crates/grafeo-engine/src/database/crud.rs
  crates/grafeo-engine/src/database/direct.rs
  crates/grafeo-engine/src/database/graph_handle.rs
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/src/transaction/manager.rs
  crates/grafeo-engine/tests/direct_api.rs
  crates/grafeo-engine/tests/graph_handles.rs
Due: cargo-fmt, cargo-clippy

new issue templates!
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

bandaid for property memory increase in lpg store
  CHANGELOG.md
  crates/grafeo-core/src/graph/lpg/edge.rs
  crates/grafeo-core/src/graph/lpg/node.rs
  crates/grafeo-core/src/graph/lpg/store/node_ops.rs
  crates/grafeo-core/src/graph/lpg/store/property_ops.rs
Due: cargo-fmt, cargo-clippy

parameterized queries run in session (#526, #460)
  CHANGELOG.md
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/tests/parameterized_queries.rs
  tests/spec/common/parameters.gtest
  tests/spec/runners/dart/spec_runner_test.dart
Due: cargo-fmt, cargo-clippy

a null write now removes the property
  CHANGELOG.md
  crates/bindings/node/__test__/index.spec.mjs
  crates/bindings/node/index.d.ts
  crates/bindings/node/src/database.rs
  crates/bindings/node/src/query.rs
  crates/bindings/node/src/transaction.rs
  crates/bindings/python/src/direct.rs
  crates/bindings/python/src/query.rs
  crates/bindings/python/tests/lpg/test_write_counters.py
  crates/grafeo-core/src/execution/operators/mod.rs
  crates/grafeo-core/src/execution/operators/writer.rs
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/src/query/executor/mod.rs
  crates/grafeo-engine/src/query/planner/lpg/mod.rs
  crates/grafeo-engine/src/query/processor.rs
  crates/grafeo-engine/src/query/profile.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/tests/write_counters.rs
  docs/api/python/result.md
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

upserts by key
  CHANGELOG.md
  crates/bindings/node/__test__/index.spec.mjs
  crates/bindings/node/index.d.ts
  crates/bindings/node/src/database.rs
  crates/bindings/node/src/database/upsert.rs
  crates/bindings/python/src/database.rs
  crates/bindings/python/src/direct.rs
  crates/bindings/python/src/graph_handle.rs
  crates/bindings/python/tests/lpg/test_upserts.py
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/src/database/upsert.rs
  crates/grafeo-engine/tests/upserts.rs
  docs/api/python/database.md
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

fix for #462
  CHANGELOG.md
  crates/bindings/node/__test__/index.spec.mjs
  crates/bindings/node/index.d.ts
  crates/bindings/node/src/database.rs
  crates/bindings/node/src/database/batch.rs
  crates/bindings/node/src/database/upsert.rs
  crates/bindings/python/src/database.rs
  crates/bindings/python/src/direct.rs
  crates/bindings/python/src/graph_handle.rs
  crates/bindings/python/tests/lpg/test_batch_writes.py
  crates/grafeo-engine/src/database/crud.rs
  crates/grafeo-engine/src/database/direct.rs
  crates/grafeo-engine/src/database/graph_handle.rs
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/tests/direct_api.rs
  crates/grafeo-engine/tests/graph_handles.rs
  docs/api/node/database.md
  docs/api/python/database.md
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

to_memory and reopen keep indexes and constraints
  CHANGELOG.md
  crates/bindings/python/tests/lpg/test_copies_keep_indexes.py
  crates/grafeo-engine/src/catalog/mod.rs
  crates/grafeo-engine/src/database/catalog_section.rs
  crates/grafeo-engine/src/database/checkpoint_timer.rs
  crates/grafeo-engine/src/database/flush.rs
  crates/grafeo-engine/src/database/index.rs
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/src/database/persistence.rs
  crates/grafeo-engine/src/database/sections.rs
  crates/grafeo-engine/tests/index_persistence.rs
  crates/grafeo-engine/tests/snapshot.rs
  crates/grafeo-engine/tests/storage_tier_overrides.rs
  crates/grafeo-engine/tests/vector_spill.rs
  docs/api/python/database.md
  docs/user-guide/python/database.md
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

dotted map access and a row shuffle for tests
  CHANGELOG.md
  crates/bindings/node/__test__/index.spec.mjs
  crates/bindings/node/index.d.ts
  crates/bindings/node/src/database.rs
  crates/bindings/python/src/database.rs
  crates/bindings/python/tests/lpg/test_row_order.py
  crates/bindings/python/tests/test_map_property_access.py
  crates/grafeo-adapters/src/query/gql/ast.rs
  crates/grafeo-adapters/src/query/gql/parser.rs
  crates/grafeo-core/src/execution/operators/mod.rs
  crates/grafeo-core/src/execution/operators/shuffle.rs
  crates/grafeo-engine/src/config.rs
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/src/database/rdf_ops.rs
  crates/grafeo-engine/src/query/binder.rs
  crates/grafeo-engine/src/query/optimizer/mod.rs
  crates/grafeo-engine/src/query/plan.rs
  crates/grafeo-engine/src/query/planner/common.rs
  crates/grafeo-engine/src/query/planner/lpg/expression.rs
  crates/grafeo-engine/src/query/planner/lpg/mod.rs
  crates/grafeo-engine/src/query/planner/lpg/project.rs
  crates/grafeo-engine/src/query/planner/lpg/seek.rs
  crates/grafeo-engine/src/query/planner/mod.rs
  crates/grafeo-engine/src/query/planner/rdf/mod.rs
  crates/grafeo-engine/src/query/processor.rs
  crates/grafeo-engine/src/query/translators/common.rs
  crates/grafeo-engine/src/query/translators/cypher.rs
  crates/grafeo-engine/src/query/translators/gql/expression.rs
  crates/grafeo-engine/src/query/translators/sql_pgq.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/src/session/rdf.rs
  crates/grafeo-engine/tests/parameterized_queries.rs
  crates/grafeo-engine/tests/row_order.rs
  docs/api/node/database.md
  docs/api/python/database.md
  docs/user-guide/gql/basic-queries.md
  docs/user-guide/gql/expressions.md
  tests/spec/rosetta/map_properties.gtest
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

direct writes after compact() are logged again
  CHANGELOG.md
  crates/grafeo-engine/src/database/direct.rs
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/tests/compact_sessions.rs
  docs/api/python/database.md
  docs/api/wasm/index.md
Due: cargo-fmt, cargo-clippy

subquery amd rand() conditions fix
  CHANGELOG.md
  crates/grafeo-engine/src/query/optimizer/mod.rs
  crates/grafeo-engine/tests/subquery_filters.rs
Due: cargo-fmt, cargo-clippy

lookup keys that read the clock are not sought fix
  crates/grafeo-engine/src/query/planner/lpg/seek.rs
  crates/grafeo-engine/tests/node_seek.rs
  docs/user-guide/gql/schema.md
Due: cargo-fmt, cargo-clippy

a panicking direct call bug fix
  crates/grafeo-engine/src/database/direct.rs
Due: cargo-fmt, cargo-clippy

small bugfixes
  CHANGELOG.md
  crates/grafeo-engine/src/database/direct.rs
  crates/grafeo-engine/src/database/graph_handle.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/tests/graph_handles.rs
  crates/grafeo-engine/tests/seam_session_state.rs
  crates/grafeo-engine/tests/wal_transaction_groups.rs
Due: cargo-fmt, cargo-clippy

fix for #413
  CHANGELOG.md
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/src/session/rdf.rs
  crates/grafeo-engine/tests/read_only_writes.rs
Due: cargo-fmt, cargo-clippy

direct reads missing compacted data bugfix
  CHANGELOG.md
  crates/grafeo-engine/src/database/admin.rs
  crates/grafeo-engine/src/database/crud.rs
  crates/grafeo-engine/src/database/direct.rs
  crates/grafeo-engine/src/database/index.rs
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/tests/direct_reads.rs
Due: cargo-fmt, cargo-clippy

embeddings changed while spilled will survive(yeye)
  CHANGELOG.md
  crates/grafeo-core/src/graph/lpg/property.rs
  crates/grafeo-core/src/index/vector/accessor.rs
  crates/grafeo-engine/tests/vector_spill.rs
  crates/grafeo-engine/tests/wal_transaction_groups.rs
Due: cargo-fmt, cargo-clippy

small qol fixes
  CHANGELOG.md
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/tests/write_checks.rs
  tests/spec/lpg/gql/14.2_set_operations.gtest
Due: cargo-fmt, cargo-clippy

partly fixes #481, rest next release
  CHANGELOG.md
  crates/grafeo-engine/src/query/translators/common.rs
  crates/grafeo-engine/src/query/translators/cypher.rs
  crates/grafeo-engine/src/query/translators/gql/mod.rs
Due: cargo-fmt, cargo-clippy

fix for #538
  CHANGELOG.md
  crates/grafeo-core/src/execution/operators/filter.rs
  crates/grafeo-core/src/execution/operators/mod.rs
  crates/grafeo-core/src/execution/operators/project.rs
  crates/grafeo-core/src/execution/operators/variable_length_expand.rs
  crates/grafeo-engine/src/query/optimizer/mod.rs
  crates/grafeo-engine/src/query/planner/lpg/expand.rs
  crates/grafeo-engine/src/query/planner/lpg/mod.rs
  crates/grafeo-engine/src/query/planner/lpg/project.rs
  crates/grafeo-engine/src/query/translators/gql/mod.rs
  crates/grafeo-engine/tests/cyclic_patterns.rs
  crates/grafeo-engine/tests/entity_lists.rs
  tests/spec/rosetta/list_items.gtest
Due: cargo-fmt, cargo-clippy

checks and balances
  CHANGELOG.md
  crates/grafeo-engine/src/database/admin.rs
  crates/grafeo-engine/src/database/crud.rs
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/src/query/planner/lpg/seek.rs
  crates/grafeo-engine/src/query/translators/sql_pgq.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/tests/auth_permissions.rs
  crates/grafeo-engine/tests/direct_reads.rs
  crates/grafeo-engine/tests/node_seek.rs
  crates/grafeo-engine/tests/seam_session_state.rs
  docs/user-guide/gql/schema.md
  tests/spec/lpg/sql_pgq/sql_features.gtest
Due: cargo-fmt, cargo-clippy

fix for #458
  CHANGELOG.md
  crates/grafeo-adapters/src/query/cypher/parser.rs
  crates/grafeo-core/src/execution/operators/filter.rs
  crates/grafeo-engine/src/query/translators/gremlin.rs
  crates/grafeo-engine/tests/regex_patterns.rs
  tests/spec/lpg/cypher/predicates.gtest
  tests/spec/lpg/gremlin/predicates_extended.gtest
Due: cargo-fmt, cargo-clippy

fixed stats and schema after compact()
  CHANGELOG.md
  crates/grafeo-engine/src/database/admin.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/tests/auth_permissions.rs
  crates/grafeo-engine/tests/direct_reads.rs
  crates/grafeo-engine/tests/seam_session_state.rs
  docs/user-guide/gql/schema.md
Due: cargo-fmt, cargo-clippy

review fixes
  CHANGELOG.md
  crates/grafeo-core/src/execution/operators/project.rs
  crates/grafeo-engine/src/query/planner/lpg/expand.rs
  crates/grafeo-engine/src/query/planner/lpg/project.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/tests/auth_permissions.rs
  crates/grafeo-engine/tests/direct_reads.rs
  crates/grafeo-engine/tests/entity_lists.rs
  crates/grafeo-engine/tests/seam_session_state.rs
Due: cargo-fmt, cargo-clippy

query correctness fixes
  crates/bindings/node/index.d.ts
  crates/bindings/node/src/database/upsert.rs
  crates/bindings/python/src/database.rs
  crates/bindings/python/src/graph_handle.rs
  crates/bindings/python/tests/lpg/test_upserts.py
  crates/grafeo-common/src/testing/child_process.rs
  crates/grafeo-core/src/execution/operators/project.rs
  crates/grafeo-core/src/execution/operators/writer.rs
  crates/grafeo-engine/src/database/upsert.rs
  crates/grafeo-engine/src/query/executor/user_procedure.rs
  crates/grafeo-engine/src/query/planner/lpg/mod.rs
  crates/grafeo-engine/src/query/planner/lpg/mutation.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/tests/upserts.rs
  crates/grafeo-engine/tests/write_counters.rs
  crates/grafeo-storage/src/file/manager.rs
  crates/grafeo-storage/src/lock.rs
  docs/api/python/database.md
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

review comments
  crates/bindings/node/__test__/index.spec.mjs
  crates/bindings/node/index.d.ts
  crates/bindings/node/src/database.rs
  crates/bindings/node/src/database/upsert.rs
  crates/bindings/python/src/database.rs
  crates/bindings/python/src/direct.rs
  crates/bindings/python/src/graph_handle.rs
  crates/bindings/python/tests/lpg/test_upserts.py
  crates/grafeo-common/src/testing/child_process.rs
  crates/grafeo-engine/src/database/upsert.rs
  crates/grafeo-engine/src/query/plan.rs
  crates/grafeo-engine/src/query/translators/common.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/tests/parameterized_queries.rs
  crates/grafeo-engine/tests/upserts.rs
  crates/grafeo-storage/src/file/manager.rs
  crates/grafeo-storage/src/lock.rs
  docs/api/python/database.md
  tests/spec/lpg/cypher/expressions.gtest
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

small fixes
  crates/grafeo-core/src/execution/operators/shuffle.rs
  crates/grafeo-core/src/graph/lpg/store/versioning.rs
  crates/grafeo-engine/src/config.rs
  crates/grafeo-engine/src/database/direct.rs
  crates/grafeo-engine/src/query/planner/lpg/mod.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/tests/compact_sessions.rs
  crates/grafeo-engine/tests/row_order.rs
  docs/api/python/database.md
  docs/user-guide/compact-store.md
  docs/user-guide/gql/basic-queries.md
Due: cargo-fmt, cargo-clippy

more review nitty bitties
  crates/bindings/node/__test__/index.spec.mjs
  crates/bindings/node/src/database.rs
  crates/bindings/python/src/query.rs
  crates/grafeo-engine/src/query/executor/mod.rs
  crates/grafeo-engine/tests/direct_api.rs
  crates/grafeo-engine/tests/index_persistence.rs
Due: cargo-fmt, cargo-clippy

workaround, full fix in #544
  crates/grafeo-core/src/graph/lpg/mod.rs
  crates/grafeo-engine/src/database/direct.rs
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/src/database/persistence.rs
  crates/grafeo-engine/src/database/section_consumer.rs
  crates/grafeo-engine/src/query/planner/lpg/filter_hybrid.rs
  crates/grafeo-engine/src/query/planner/lpg/mod.rs
  crates/grafeo-engine/src/query/processor.rs
  crates/grafeo-engine/src/query/translators/mod.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/src/session/rdf.rs
  docs/user-guide/compact-store.md
Due: cargo-fmt, cargo-clippy
