Repository GrafeoDB/grafeo: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, ruff-check, ruff-format

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

ruff-check:
  name: ruff check
  entry: ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: ruff format
  language: system

linting error fix
  crates/grafeo-engine/src/query/planner.rs
Due: cargo-fmt, cargo-clippy

release 0.2.7
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/bindings/python/src/database.rs
  crates/grafeo-adapters/src/query/sparql/parser.rs
  crates/grafeo-cli/src/output/mod.rs
  crates/grafeo-common/Cargo.toml
  crates/grafeo-common/src/mvcc.rs
  crates/grafeo-common/src/types/value.rs
  crates/grafeo-core/Cargo.toml
  crates/grafeo-core/src/cache/mod.rs
  crates/grafeo-core/src/cache/second_chance.rs
  crates/grafeo-core/src/execution/collector.rs
  crates/grafeo-core/src/execution/factorized_chunk.rs
  crates/grafeo-core/src/execution/mod.rs
  crates/grafeo-core/src/execution/operators/expand.rs
  crates/grafeo-core/src/execution/operators/factorized_expand.rs
  crates/grafeo-core/src/execution/operators/filter.rs
  crates/grafeo-core/src/execution/operators/shortest_path.rs
  crates/grafeo-core/src/execution/operators/variable_length_expand.rs
  crates/grafeo-core/src/execution/parallel/fold.rs
  crates/grafeo-core/src/execution/parallel/mod.rs
  crates/grafeo-core/src/execution/spill/partition.rs
  crates/grafeo-core/src/execution/spill/serializer.rs
  crates/grafeo-core/src/execution/vector.rs
  crates/grafeo-core/src/graph/lpg/edge.rs
  crates/grafeo-core/src/graph/lpg/node.rs
  crates/grafeo-core/src/graph/lpg/property.rs
  crates/grafeo-core/src/graph/lpg/store.rs
  crates/grafeo-core/src/index/adjacency.rs
  crates/grafeo-core/src/index/fingerprint.rs
  crates/grafeo-core/src/index/mod.rs
  crates/grafeo-core/src/lib.rs
  crates/grafeo-core/src/statistics/collector.rs
  crates/grafeo-engine/src/query/cypher_translator.rs
  crates/grafeo-engine/src/query/planner_rdf.rs
  crates/grafeo-engine/src/session.rs
  crates/grafeo/Cargo.toml
  docs/roadmap.md
Due: cargo-fmt, cargo-clippy, cargo-deny

Update pyproject.toml
  crates/bindings/python/pyproject.toml
Due: none

release 0.3.0
  .github/SECURITY.md
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/bindings/python/pyproject.toml
  crates/bindings/python/src/types.rs
  crates/grafeo-adapters/src/query/cypher/lexer.rs
  crates/grafeo-adapters/src/query/cypher/parser.rs
  crates/grafeo-adapters/src/query/gql/ast.rs
  crates/grafeo-adapters/src/query/gql/lexer.rs
  crates/grafeo-adapters/src/query/gql/parser.rs
  crates/grafeo-adapters/src/query/sparql/ast.rs
  crates/grafeo-adapters/src/query/sparql/lexer.rs
  crates/grafeo-adapters/src/query/sparql/parser.rs
  crates/grafeo-common/src/types/logical_type.rs
  crates/grafeo-common/src/types/value.rs
  crates/grafeo-common/src/utils/error.rs
  crates/grafeo-core/Cargo.toml
  crates/grafeo-core/src/execution/operators/join.rs
  crates/grafeo-core/src/execution/spill/partition.rs
  crates/grafeo-core/src/execution/spill/serializer.rs
  crates/grafeo-core/src/graph/rdf/store.rs
  crates/grafeo-core/src/index/mod.rs
  crates/grafeo-core/src/index/vector/config.rs
  crates/grafeo-core/src/index/vector/distance.rs
  crates/grafeo-core/src/index/vector/hnsw.rs
  crates/grafeo-core/src/index/vector/mod.rs
  crates/grafeo-engine/src/query/planner.rs
  crates/grafeo-engine/src/query/planner_rdf.rs
  crates/grafeo-engine/src/transaction/manager.rs
  crates/grafeo-engine/src/transaction/mod.rs
  docs/getting-started/cli.md
  docs/roadmap.md
Due: cargo-fmt, cargo-clippy, cargo-deny

added SIMD accelleration for vector operations
  crates/bindings/python/src/lib.rs
  crates/grafeo-core/src/index/vector/distance.rs
  crates/grafeo-core/src/index/vector/hnsw.rs
  crates/grafeo-core/src/index/vector/mod.rs
  crates/grafeo-core/src/index/vector/simd.rs
Due: cargo-fmt, cargo-clippy

version bump for 0.3.1
  Cargo.lock
  Cargo.toml
  crates/bindings/python/pyproject.toml
Due: cargo-deny

added vectorscan operators
  crates/bindings/python/pyproject.toml
  crates/grafeo-core/src/execution/operators/mod.rs
  crates/grafeo-core/src/execution/operators/scan_vector.rs
  crates/grafeo-engine/src/query/binder.rs
  crates/grafeo-engine/src/query/plan.rs
  crates/grafeo-engine/src/query/processor.rs
Due: cargo-fmt, cargo-clippy

added background thread flusher and fingerprints
  CHANGELOG.md
  crates/grafeo-adapters/src/storage/wal/async_log.rs
  crates/grafeo-adapters/src/storage/wal/flusher.rs
  crates/grafeo-adapters/src/storage/wal/log.rs
  crates/grafeo-adapters/src/storage/wal/mod.rs
  crates/grafeo-core/src/index/fingerprint.rs
  crates/grafeo-core/src/index/fingerprinted_hash.rs
  crates/grafeo-core/src/index/mod.rs
  crates/grafeo-core/src/index/vector/mod.rs
  crates/grafeo-core/src/index/vector/quantization.rs
  crates/grafeo-core/src/index/vector/quantized_hnsw.rs
Due: cargo-fmt, cargo-clippy

Version bump to 0.3.2
  Cargo.lock
  Cargo.toml
  crates/bindings/python/pyproject.toml
Due: cargo-deny

code quality improvements
  CHANGELOG.md
  crates/grafeo-common/src/mvcc.rs
  crates/grafeo-core/src/graph/lpg/property.rs
  crates/grafeo-core/src/graph/lpg/store.rs
  crates/grafeo-core/src/storage/delta.rs
Due: cargo-fmt, cargo-clippy

improved parallel node scanning and batch reading
  CHANGELOG.md
  crates/grafeo-core/src/execution/parallel/mod.rs
  crates/grafeo-core/src/execution/parallel/source.rs
  crates/grafeo-core/src/graph/lpg/property.rs
Due: cargo-fmt, cargo-clippy

hybrid query support
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/bindings/python/pyproject.toml
  crates/bindings/python/src/lib.rs
  crates/bindings/python/src/quantization.rs
  crates/grafeo-adapters/src/storage/wal/flusher.rs
  crates/grafeo-core/benches/index_bench.rs
  crates/grafeo-core/src/execution/operators/mod.rs
  crates/grafeo-core/src/execution/operators/vector_join.rs
  crates/grafeo-core/src/index/vector/mod.rs
  crates/grafeo-core/src/index/vector/quantization.rs
  crates/grafeo-core/src/index/vector/quantized_hnsw.rs
  crates/grafeo-core/src/index/vector/storage.rs
  crates/grafeo-core/src/index/vector/zone_map.rs
  crates/grafeo-engine/src/query/binder.rs
  crates/grafeo-engine/src/query/optimizer/cardinality.rs
  crates/grafeo-engine/src/query/optimizer/cost.rs
  crates/grafeo-engine/src/query/plan.rs
  crates/grafeo-engine/src/query/planner.rs
  crates/grafeo-engine/src/query/processor.rs
  docs/index.md
  docs/roadmap.md
  docs/user-guide/data-model/properties.md
  docs/user-guide/index.md
  docs/user-guide/vector-search/basics.md
  docs/user-guide/vector-search/hnsw-index.md
  docs/user-guide/vector-search/index.md
  docs/user-guide/vector-search/python-api.md
  docs/user-guide/vector-search/quantization.md
  mkdocs.yml
Due: cargo-fmt, cargo-clippy, cargo-deny

stricter linting rules fixes
  crates/grafeo-core/src/execution/chunk_state.rs
  crates/grafeo-core/src/execution/operators/mutation.rs
  crates/grafeo-core/src/execution/operators/scan_vector.rs
  crates/grafeo-core/src/index/vector/config.rs
  crates/grafeo-core/src/index/vector/storage.rs
  crates/grafeo-engine/src/query/planner.rs
  crates/grafeo-engine/src/transaction/manager.rs
Due: cargo-fmt, cargo-clippy

quality of life improvements
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/bindings/python/pyproject.toml
  crates/bindings/python/src/database.rs
  crates/bindings/python/src/query.rs
  crates/grafeo-common/src/utils/mod.rs
  crates/grafeo-common/src/utils/strings.rs
  crates/grafeo-engine/src/database.rs
  crates/grafeo-engine/src/query/binder.rs
  crates/grafeo-engine/src/query/processor.rs
  crates/grafeo-engine/src/session.rs
  docs/ecosystem/performance.md
  docs/getting-started/glossary.md
  docs/getting-started/migration.md
  docs/getting-started/security.md
  docs/getting-started/troubleshooting.md
  examples/README.md
  examples/fraud_detection.py
  examples/graph_visualization.py
  examples/networkx_integration.py
  examples/vector_search.py
  mkdocs.yml
Due: cargo-fmt, cargo-clippy, cargo-deny, ruff-check, ruff-format

improved tests and docs styling
  CONTRIBUTING.md
  crates/grafeo-core/src/execution/operators/filter.rs
  crates/grafeo-core/src/execution/operators/shortest_path.rs
  crates/grafeo-engine/src/database.rs
  crates/grafeo-engine/src/query/binder.rs
  crates/grafeo-engine/src/query/processor.rs
  docs/stylesheets/extra.css
  mkdocs.yml
Due: cargo-fmt, cargo-clippy

homepage/mkdocs improvements
  docs/index.md
  docs/stylesheets/extra.css
  mkdocs.yml
Due: none

cargo fmt
  CHANGELOG.md
  crates/grafeo-adapters/src/storage/wal/flusher.rs
  crates/grafeo-core/benches/index_bench.rs
  crates/grafeo-core/src/execution/operators/filter.rs
  crates/grafeo-core/src/execution/operators/mod.rs
  crates/grafeo-core/src/execution/operators/scan_vector.rs
  crates/grafeo-core/src/execution/operators/shortest_path.rs
  crates/grafeo-core/src/execution/operators/vector_join.rs
  crates/grafeo-core/src/graph/lpg/property.rs
  crates/grafeo-core/src/graph/lpg/store.rs
  crates/grafeo-core/src/index/fingerprinted_hash.rs
  crates/grafeo-core/src/index/vector/quantization.rs
  crates/grafeo-core/src/index/vector/quantized_hnsw.rs
  crates/grafeo-core/src/index/vector/storage.rs
  crates/grafeo-engine/src/query/binder.rs
  crates/grafeo-engine/src/query/processor.rs
Due: cargo-fmt, cargo-clippy

making clippy happy
  crates/grafeo-common/src/utils/strings.rs
Due: cargo-fmt, cargo-clippy

linter fix
  crates/grafeo-core/src/index/vector/quantization.rs
  crates/grafeo-core/src/index/vector/storage.rs
Due: cargo-fmt, cargo-clippy

interactive demo for mkdocs
  .gitignore
  crates/grafeo-adapters/src/storage/wal/flusher.rs
  docs/assets/logo-small.png
  docs/ecosystem/interactive-demo.md
  docs/requirements.txt
  docs/stylesheets/extra.css
  docs/tags.md
  mkdocs.yml
Due: cargo-fmt, cargo-clippy

cross platform warning supression and mkdocs fix
  crates/grafeo-core/src/index/vector/simd.rs
  docs/stylesheets/extra.css
Due: cargo-fmt, cargo-clippy

fix interactive demo
  docs/ecosystem/interactive-demo.md
  docs/stylesheets/extra.css
Due: none

it works on my machine
  docs/ecosystem/interactive-demo.md
  docs/stylesheets/extra.css
Due: none

less = more
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

first working implrementation of js/ts bindings
  .gitignore
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/bindings/node/Cargo.toml
  crates/bindings/node/__test__/index.spec.mjs
  crates/bindings/node/build.rs
  crates/bindings/node/package.json
  crates/bindings/node/src/database.rs
  crates/bindings/node/src/error.rs
  crates/bindings/node/src/graph.rs
  crates/bindings/node/src/lib.rs
  crates/bindings/node/src/query.rs
  crates/bindings/node/src/transaction.rs
  crates/bindings/node/src/types.rs
  crates/bindings/python/pyproject.toml
  docs/ecosystem/interactive-demo.md
  docs/roadmap.md
Due: cargo-fmt, cargo-clippy, cargo-deny

cargo fmt
  crates/bindings/node/src/database.rs
  crates/bindings/node/src/error.rs
  crates/bindings/node/src/graph.rs
  crates/bindings/node/src/types.rs
Due: cargo-fmt, cargo-clippy

small improvements to contribution flow
  .github/workflows/ci.yml
  CONTRIBUTING.md
  _typos.toml
Due: none

improved prek precommit
  .pre-commit-config.yaml
Due: none

change license from Apache-2.0 to AGPL-3.0
  LICENSE
Due: none

update CI, tooling and project config
  .github/FUNDING.yml
  .github/workflows/ci.yml
  .gitignore
  Cargo.toml
  codecov.yml
  deny.toml
Due: cargo-deny

added interactive examples
  examples/fraud_detection.py
  examples/graph_visualization.py
  examples/networkx_integration.py
  examples/vector_search.py
Due: ruff-check, ruff-format

license change and version bump
  crates/bindings/python/pyproject.toml
Due: none

license change and added test
  crates/bindings/node/__test__/index.spec.mjs
  crates/bindings/node/package.json
Due: none

updated docs
  docs/ecosystem/anywidget-graph.md
  docs/ecosystem/anywidget-vector.md
  docs/ecosystem/graph-bench.md
Due: none

vector operations tests
  tests/python/lpg/gql/test_vectors.py
Due: ruff-check, ruff-format

grafeo-server placeholder
  docs/ecosystem/grafeo-server.md
Due: none

clippy fixes after removing multiple allow lines
  .gitignore
  crates/bindings/node/src/transaction.rs
  crates/bindings/node/src/types.rs
  crates/bindings/python/Cargo.toml
  crates/bindings/python/python/grafeo/__init__.py
  crates/bindings/python/python/grafeo/cli.py
  crates/bindings/python/src/database.rs
  crates/bindings/python/src/lib.rs
  crates/bindings/python/src/types.rs
  crates/grafeo-adapters/src/query/cypher/parser.rs
  crates/grafeo-cli/src/output/mod.rs
  crates/grafeo-common/src/memory/arena.rs
  crates/grafeo-core/src/execution/factorized_chunk.rs
  crates/grafeo-core/src/execution/operators/factorized_expand.rs
  crates/grafeo-core/src/execution/operators/filter.rs
  crates/grafeo-core/src/execution/operators/limit.rs
  crates/grafeo-core/src/execution/parallel/merge.rs
  crates/grafeo-core/src/execution/parallel/source.rs
  crates/grafeo-core/src/execution/source.rs
  crates/grafeo-core/src/graph/lpg/store.rs
  crates/grafeo-core/src/index/vector/storage.rs
  crates/grafeo-engine/Cargo.toml
  crates/grafeo-engine/src/database.rs
  crates/grafeo-engine/src/query/cypher_translator.rs
  crates/grafeo-engine/src/query/gql_translator.rs
  crates/grafeo-engine/src/query/graphql_translator.rs
  crates/grafeo-engine/src/query/optimizer/cardinality.rs
  crates/grafeo-engine/src/query/optimizer/mod.rs
  crates/grafeo-engine/src/query/planner.rs
  crates/grafeo-engine/src/query/processor.rs
  crates/grafeo-engine/src/session.rs
  crates/grafeo-engine/tests/query_correctness.rs
  docs/ecosystem/index.md
  docs/roadmap.md
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

updated CHANGELOG.md for 0.4.0
  CHANGELOG.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
