Repository GrafeoDB/grafeo: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, ruff-check, ruff-format

.pre-commit-config.yaml:

# Pre-commit hooks for Grafeo
# Install: cargo install prek && prek install
# Run manually: prek run --all-files
# Docs: https://github.com/j178/prek

repos:
  # Built-in prek hooks
  - repo: builtin
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixers
        exclude: '\.md$'
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Typo checker
  - repo: https://github.com/crate-ci/typos
    rev: v1.29.4
    hooks:
      - id: typos

  # Local Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

      # Coverage check - manual only (too slow for every commit)
      # Run with: prek run cargo-llvm-cov
      - id: cargo-llvm-cov
        name: cargo llvm-cov
        entry: cargo llvm-cov --all-features --workspace --fail-under-lines 70
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]

  # Python hooks
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]

types tests and lint fixes
  Cargo.lock
  crates/bindings/wasm/grafeo_wasm.d.ts
  crates/bindings/wasm/src/lib.rs
  crates/grafeo-core/src/graph/lpg/store.rs
  crates/grafeo-engine/Cargo.toml
  crates/grafeo-engine/src/database.rs
  crates/grafeo-engine/tests/snapshot.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

version bump
  Cargo.lock
  Cargo.toml
  crates/bindings/node/package.json
  crates/bindings/python/pyproject.toml
  crates/bindings/wasm/package.json
  crates/bindings/wasm/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fixed broken test
  crates/grafeo-engine/src/session.rs
  crates/grafeo-engine/tests/database_creation_options.rs
  crates/grafeo-engine/tests/snapshot.rs
Due: cargo-fmt, cargo-clippy

rust checks and test fixes
  CHANGELOG.md
  crates/grafeo-core/src/execution/parallel/merge.rs
  crates/grafeo-engine/src/session.rs
  crates/grafeo-engine/tests/snapshot.rs
Due: cargo-fmt, cargo-clippy

another fix
  crates/grafeo-engine/src/database.rs
Due: cargo-fmt, cargo-clippy

added pre-publish version check for crates.io
  .github/workflows/release.yml
Due: none

Potential fix for pull request finding 'Explicit returns mixed with implicit (fall through) returns'
  tests/python/lpg/graphql/test_syntax_compliance.py
Due: ruff-check, ruff-format

Version bump to 0.5.21
  Cargo.lock
  Cargo.toml
  crates/bindings/node/index.js
  crates/bindings/node/npm/darwin-arm64/package.json
  crates/bindings/node/npm/darwin-x64/package.json
  crates/bindings/node/npm/linux-arm64-gnu/package.json
  crates/bindings/node/npm/linux-arm64-musl/package.json
  crates/bindings/node/npm/linux-x64-gnu/package.json
  crates/bindings/node/npm/win32-x64-msvc/package.json
  crates/bindings/node/package.json
  crates/bindings/python/pyproject.toml
  crates/bindings/wasm/package-lite.json
  crates/bindings/wasm/package.json
  docs/overrides/main.html
  packages/grafeo-cli-npm/package.json
  packages/grafeo-cli-python/pyproject.toml
Due: cargo-deny

Revert "Version bump to 0.5.21"
  Cargo.lock
  Cargo.toml
  crates/bindings/node/index.js
  crates/bindings/node/npm/darwin-arm64/package.json
  crates/bindings/node/npm/darwin-x64/package.json
  crates/bindings/node/npm/linux-arm64-gnu/package.json
  crates/bindings/node/npm/linux-arm64-musl/package.json
  crates/bindings/node/npm/linux-x64-gnu/package.json
  crates/bindings/node/npm/win32-x64-msvc/package.json
  crates/bindings/node/package.json
  crates/bindings/python/pyproject.toml
  crates/bindings/wasm/package-lite.json
  crates/bindings/wasm/package.json
  docs/overrides/main.html
  packages/grafeo-cli-npm/package.json
  packages/grafeo-cli-python/pyproject.toml
Due: cargo-deny

failing test fix
  crates/bindings/python/tests/lpg/gql/spec/test_08_sessions.py
Due: ruff-check, ruff-format

fix(storage): add dictionary serialization, RLE binary search, DeltaBitPacked random access
  crates/grafeo-core/src/storage/bitpack.rs
  crates/grafeo-core/src/storage/dictionary.rs
  crates/grafeo-core/src/storage/runlength.rs
Due: cargo-fmt, cargo-clippy

bench(storage): add benchmarks for storage primitive improvements
  crates/grafeo-core/Cargo.toml
  crates/grafeo-core/benches/storage_primitives_bench.rs
Due: cargo-fmt, cargo-clippy

bench(storage): add before/after comparison benchmarks
  crates/grafeo-core/Cargo.toml
  crates/grafeo-core/benches/storage_baseline_bench.rs
Due: cargo-fmt, cargo-clippy

feat(compact): add CompactStore — columnar read-optimized graph store
  crates/grafeo-core/Cargo.toml
  crates/grafeo-core/benches/compact_vs_lpg.rs
  crates/grafeo-core/src/graph/compact/builder.rs
  crates/grafeo-core/src/graph/compact/column.rs
  crates/grafeo-core/src/graph/compact/csr.rs
  crates/grafeo-core/src/graph/compact/delta.rs
  crates/grafeo-core/src/graph/compact/graph_store_impl.rs
  crates/grafeo-core/src/graph/compact/graph_store_mut_impl.rs
  crates/grafeo-core/src/graph/compact/id.rs
  crates/grafeo-core/src/graph/compact/mod.rs
  crates/grafeo-core/src/graph/compact/node_table.rs
  crates/grafeo-core/src/graph/compact/rel_table.rs
  crates/grafeo-core/src/graph/compact/schema.rs
  crates/grafeo-core/src/graph/compact/tests.rs
  crates/grafeo-core/src/graph/compact/zone_map.rs
  crates/grafeo-core/src/graph/mod.rs
  crates/grafeo-engine/Cargo.toml
  crates/grafeo-engine/tests/compact_store_integration.rs
Due: cargo-fmt, cargo-clippy

perf(compact): avoid per-row Value allocation in property scans
  crates/grafeo-core/Cargo.toml
  crates/grafeo-core/benches/compressed_eval_bench.rs
  crates/grafeo-core/src/graph/compact/column.rs
  crates/grafeo-core/src/graph/compact/graph_store_impl.rs
  crates/grafeo-core/src/graph/compact/mod.rs
Due: cargo-fmt, cargo-clippy

perf(planner): use find_nodes_by_properties for unindexed filters
  crates/grafeo-core/Cargo.toml
  crates/grafeo-core/benches/planner_path_bench.rs
  crates/grafeo-engine/src/query/planner/lpg/filter.rs
Due: cargo-fmt, cargo-clippy

style: fix rustfmt formatting
  crates/grafeo-core/benches/compressed_eval_bench.rs
  crates/grafeo-core/src/graph/compact/column.rs
Due: cargo-fmt, cargo-clippy

style: fix rustfmt formatting
  crates/grafeo-core/benches/planner_path_bench.rs
Due: cargo-fmt, cargo-clippy

feat(hybrid): HybridStore — columnar base with mutable MVCC overlay
  crates/grafeo-core/src/codec/bitpack.rs
  crates/grafeo-core/src/codec/dictionary.rs
  crates/grafeo-core/src/graph/compact/builder.rs
  crates/grafeo-core/src/graph/compact/column.rs
  crates/grafeo-core/src/graph/compact/csr.rs
  crates/grafeo-core/src/graph/compact/mod.rs
  crates/grafeo-core/src/graph/compact/node_table.rs
  crates/grafeo-core/src/graph/compact/rel_table.rs
  crates/grafeo-core/src/graph/compact/schema.rs
  crates/grafeo-core/src/graph/compact/serialize.rs
  crates/grafeo-core/src/graph/compact/zone_map.rs
  crates/grafeo-core/src/graph/hybrid/id.rs
  crates/grafeo-core/src/graph/hybrid/mod.rs
  crates/grafeo-core/src/graph/hybrid/reader.rs
  crates/grafeo-core/src/graph/hybrid/tests.rs
  crates/grafeo-core/src/graph/hybrid/writer.rs
  crates/grafeo-core/src/graph/lpg/mod.rs
  crates/grafeo-core/src/graph/lpg/property.rs
  crates/grafeo-core/src/graph/lpg/store/mod.rs
  crates/grafeo-core/src/graph/lpg/store/node_ops.rs
  crates/grafeo-core/src/graph/lpg/store/property_ops.rs
  crates/grafeo-core/src/graph/mod.rs
Due: cargo-fmt, cargo-clippy

feat(hybrid): GrafeoDB with_hybrid() and compact_to_hybrid() + tests
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/src/query/planner/lpg/expression.rs
  crates/grafeo-engine/src/query/processor.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/tests/hybrid_store_integration.rs
Due: cargo-fmt, cargo-clippy

feat(planner): vector and text predicate pushdown with compound hybrid
  crates/grafeo-engine/src/query/planner/lpg/filter.rs
Due: cargo-fmt, cargo-clippy

feat(planner): TextScanOp, plan_text_scan, plan_vector_scan dispatch
  crates/grafeo-core/src/execution/operators/scan_vector.rs
  crates/grafeo-engine/src/query/binder.rs
  crates/grafeo-engine/src/query/plan.rs
  crates/grafeo-engine/src/query/planner/lpg/mod.rs
  crates/grafeo-engine/src/query/processor.rs
Due: cargo-fmt, cargo-clippy

docs: unified hybrid queries design spec (graph+vector+text in one query)
  docs/superpowers/specs/2026-04-14-unified-hybrid-queries-design.md
Due: none

test(hybrid): 20 end-to-end integration tests for unified hybrid queries
  crates/grafeo-engine/tests/hybrid_query.rs
Due: cargo-fmt, cargo-clippy

feat(text): add score_document, search_with_threshold, and bm25_term_score
  crates/grafeo-core/src/index/text/inverted_index.rs
Due: cargo-fmt, cargo-clippy

docs: unified hybrid queries implementation plan (11 tasks)
  docs/superpowers/plans/2026-04-14-unified-hybrid-queries.md
Due: none

feat(optimizer): TextScan cardinality estimation and cost model
  crates/grafeo-engine/src/query/optimizer/cardinality.rs
  crates/grafeo-engine/src/query/optimizer/cost.rs
Due: cargo-fmt, cargo-clippy

fix: adapt to upstream API changes (into_any, Option<k>)
  crates/grafeo-core/src/execution/operators/scan_text.rs
  crates/grafeo-engine/src/query/binder.rs
Due: cargo-fmt, cargo-clippy

feat(filter): add text_score() and text_match() per-row evaluation
  crates/grafeo-core/src/execution/operators/filter.rs
  crates/grafeo-core/src/graph/lpg/store/graph_store_impl.rs
  crates/grafeo-core/src/graph/traits.rs
Due: cargo-fmt, cargo-clippy

feat(planner): top-K recognition and score projection
  crates/grafeo-engine/src/query/planner/lpg/project.rs
Due: cargo-fmt, cargo-clippy

feat(operators): add TextScanOperator for BM25 index scans
  crates/grafeo-core/src/execution/operators/mod.rs
  crates/grafeo-core/src/execution/operators/scan_text.rs
Due: cargo-fmt, cargo-clippy

fix: index and search operations after compact() no longer panic or return empty results
  crates/grafeo-core/src/graph/compact/builder.rs
  crates/grafeo-core/src/graph/compact/column.rs
  crates/grafeo-core/src/graph/compact/layered.rs
  crates/grafeo-core/src/graph/compact/schema.rs
  crates/grafeo-core/src/graph/compact/section.rs
  crates/grafeo-engine/src/database/index.rs
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/src/database/search.rs
  crates/grafeo-engine/tests/post_compact_index.rs
Due: cargo-fmt, cargo-clippy

feat(compact): add Float64 column codec with native IEEE 754 storage
  crates/grafeo-core/src/graph/compact/builder.rs
  crates/grafeo-core/src/graph/compact/column.rs
  crates/grafeo-core/src/graph/compact/schema.rs
  crates/grafeo-core/src/graph/compact/section.rs
Due: cargo-fmt, cargo-clippy

fix: address code review findings from PR #286
  crates/grafeo-core/src/execution/operators/filter.rs
  crates/grafeo-core/src/execution/operators/scan_text.rs
  crates/grafeo-core/src/execution/operators/scan_vector.rs
  crates/grafeo-core/src/graph/compact/builder.rs
  crates/grafeo-core/src/graph/compact/column.rs
  crates/grafeo-core/src/graph/compact/layered.rs
  crates/grafeo-core/src/index/vector/quantized_hnsw.rs
  crates/grafeo-engine/src/query/optimizer/cardinality.rs
  crates/grafeo-engine/src/query/optimizer/cost.rs
  crates/grafeo-engine/src/query/planner/lpg/filter.rs
  crates/grafeo-engine/src/query/planner/lpg/mod.rs
  crates/grafeo-engine/src/query/planner/lpg/project.rs
Due: cargo-fmt, cargo-clippy

fix(storage): handle v2 files in read_snapshot
  crates/grafeo-storage/src/file/manager.rs
Due: cargo-fmt, cargo-clippy

perf(optimizer): push filters past Filter/LeftJoin/Apply/Unwind/Union
  crates/grafeo-engine/src/query/optimizer/mod.rs
Due: cargo-fmt, cargo-clippy

perf(optimizer): propagate filters across LeftJoin shared variables
  crates/grafeo-engine/src/query/optimizer/mod.rs
Due: cargo-fmt, cargo-clippy

fix(engine): emit ProfileEntry for fused/special-cased operators
  crates/grafeo-engine/src/query/planner/lpg/filter.rs
  crates/grafeo-engine/src/query/planner/lpg/mod.rs
  crates/grafeo-engine/src/query/planner/lpg/mutation.rs
  crates/grafeo-engine/src/query/planner/lpg/project.rs
  crates/grafeo-engine/src/query/profile.rs
Due: cargo-fmt, cargo-clippy

fix(planner): pass through ORDER BY variable refs not in RETURN
  crates/grafeo-engine/src/query/planner/lpg/project.rs
Due: cargo-fmt, cargo-clippy

perf(planner): activate property index after compact() and add IN-list fast path
  crates/grafeo-core/src/graph/compact/layered.rs
  crates/grafeo-engine/src/query/planner/lpg/filter.rs
Due: cargo-fmt, cargo-clippy
