Repository GrafeoDB/grafeo: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, ruff-check, ruff-format

.pre-commit-config.yaml:

# Pre-commit hooks for Grafeo
# Install: cargo install prek && prek install
# Run manually: prek run --all-files
# Docs: https://github.com/j178/prek

repos:
  # Built-in prek hooks
  - repo: builtin
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixers
        exclude: '\.md$'
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Typo checker
  - repo: https://github.com/crate-ci/typos
    rev: v1.29.4
    hooks:
      - id: typos

  # Local Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

      # Coverage check - manual only (too slow for every commit)
      # Run with: prek run cargo-llvm-cov
      - id: cargo-llvm-cov
        name: cargo llvm-cov
        entry: cargo llvm-cov --all-features --workspace --fail-under-lines 70
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]

  # Python hooks
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]

test: fix WAL outcome assertions and strict lint
  crates/grafeo-common/src/utils/error.rs
  crates/grafeo-storage/src/wal/log.rs
Due: cargo-fmt, cargo-clippy

part two
  crates/grafeo-core/src/execution/adaptive.rs
  crates/grafeo-core/src/graph/compact/builder.rs
  crates/grafeo-core/src/graph/compact/graph_store_impl.rs
  crates/grafeo-core/src/graph/compact/layered.rs
  crates/grafeo-core/src/graph/compact/tests.rs
  crates/grafeo-core/tests/phase5_design_probes.rs
Due: cargo-fmt, cargo-clippy

added python 3.15 support
  crates/bindings/python/pyproject.toml
Due: none

removing dependencies related to old pipeline
  Cargo.lock
Due: cargo-deny

added gtests
  tests/spec/common/error_handling.gtest
Due: none

added gtests
  tests/spec/common/vector_search.gtest
Due: none

added gtests
  tests/spec/lpg/gql/17.2_named_paths.gtest
Due: none

added gtests
  tests/spec/lpg/cypher/return_ordering.gtest
Due: none

added gtests
  tests/spec/lpg/gql/14.10_order_limit.gtest
  tests/spec/lpg/gql/16.10_error_scenarios.gtest
  tests/spec/lpg/gql/20.1_schema_ddl.gtest
  tests/spec/lpg/gql/21.3b_temporal_extended.gtest
Due: none

added gtests
  tests/spec/lpg/cypher/functions.gtest
  tests/spec/rosetta/call_subqueries.gtest
Due: none

added gtests
  tests/spec/rosetta/group_keys_beside_aggregates.gtest
Due: none

added gtests
  tests/spec/rosetta/order_by_mixed_values.gtest
Due: none

updated documentation
  docs/user-guide/cypher/mutations.md
  docs/user-guide/gql/basic-queries.md
  docs/user-guide/gql/functions-element.md
  docs/user-guide/gql/schema.md
  docs/user-guide/observability.md
  docs/user-guide/persistence/persistent.md
Due: none

updated documentation
  docs/user-guide/compact-store.md
Due: none

updated documentation
  docs/contributing/setup.md
  docs/getting-started/glossary.md
  docs/user-guide/cdc.md
Due: none

updated documentation
  docs/api/node/database.md
  docs/api/python/database.md
  docs/architecture/execution/index.md
  docs/architecture/feature-profiles.md
  docs/architecture/index.md
  docs/architecture/overview.md
  docs/architecture/storage/container-format.md
  docs/architecture/storage/zone-maps.md
  docs/ecosystem/performance.md
  docs/getting-started/security.md
  docs/user-guide/catalog-hierarchy.md
Due: none

updated documentation
  docs/versioning.md
Due: none

updated documentation(removed morsel)
  docs/index.md
Due: none

added difftest
  scripts/difftest/corpus.py
  scripts/difftest/reviewed/0.6.0.txt
Due: ruff-check, ruff-format

added python 3.15 support
  scripts/ci-clean.ps1
  scripts/ci-clean.sh
Due: none

added tests
  crates/grafeo-spec-tests/build.rs
Due: cargo-fmt, cargo-clippy

updated tests
  crates/grafeo-engine/tests/fixtures/compacted/0.6.0-dev/people.grafeo
  crates/grafeo-engine/tests/fixtures/compacted/README.md
  crates/grafeo-engine/tests/fixtures/rdf/0.6.0-dev/triples.grafeo
  crates/grafeo-engine/tests/fixtures/rdf/README.md
  crates/grafeo-engine/tests/fixtures/search-indexes/0.6.0-dev/documents.grafeo
  crates/grafeo-engine/tests/fixtures/search-indexes/README.md
Due: none

compact store removal
  crates/grafeo-engine/tests/compact_store_integration.rs
  crates/grafeo-engine/tests/compact_transactions.rs
  crates/grafeo-engine/tests/compacted_file_without_compact_store.rs
Due: cargo-fmt, cargo-clippy

transaction refactor
  crates/grafeo-engine/src/transaction/mod.rs
  crates/grafeo-engine/src/transaction/parallel.rs
  crates/grafeo-engine/src/transaction/prepared.rs
Due: cargo-fmt, cargo-clippy

updated tests
  crates/grafeo-engine/tests/call_subquery_imports.rs
  crates/grafeo-engine/tests/chunked_sections.rs
  crates/grafeo-engine/tests/database_creation_options.rs
  crates/grafeo-engine/tests/encryption_at_rest.rs
Due: cargo-fmt, cargo-clippy

updated tests
  crates/grafeo-engine/tests/graph_type_in_use.rs
  crates/grafeo-engine/tests/spilled_embeddings.rs
  crates/grafeo-engine/tests/upserts.rs
  crates/grafeo-engine/tests/values_and_types.rs
  crates/grafeo-engine/tests/write_counters.rs
Due: cargo-fmt, cargo-clippy

added rust tests after refactor
  crates/grafeo-engine/tests/group_by_keys_beside_aggregates.rs
  crates/grafeo-engine/tests/rdf_persistence.rs
  crates/grafeo-engine/tests/types_in_a_schema.rs
  crates/grafeo-engine/tests/vector_query_checks.rs
Due: cargo-fmt, cargo-clippy

added rust test
  crates/grafeo-engine/tests/vector_removal_reachability.rs
Due: cargo-fmt, cargo-clippy

added rust tests
  crates/grafeo-engine/tests/legacy_spill.rs
  crates/grafeo-engine/tests/legacy_without_lpg.rs
  crates/grafeo-engine/tests/metrics_integration.rs
  crates/grafeo-engine/tests/path_semantics.rs
  crates/grafeo-engine/tests/type_ddl_declarations.rs
Due: cargo-fmt, cargo-clippy

added binding tests
  crates/bindings/python/tests/lpg/cypher/spec/test_03_writing_clauses.py
  crates/bindings/python/tests/lpg/gql/spec/test_05_functions.py
  crates/bindings/python/tests/lpg/test_vector_query_checks.py
Due: ruff-check, ruff-format

storage and engine related database changes
  crates/grafeo-engine/src/database/backup.rs
  crates/grafeo-engine/src/database/direct.rs
  crates/grafeo-engine/src/database/index.rs
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/src/database/search.rs
  crates/grafeo-engine/src/database/sections.rs
  crates/grafeo-engine/src/database/upsert.rs
Due: cargo-fmt, cargo-clippy

updated sessions handling
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/src/session/rdf.rs
Due: cargo-fmt, cargo-clippy

updated translators
  crates/grafeo-engine/src/query/translators/common.rs
  crates/grafeo-engine/src/query/translators/cypher.rs
  crates/grafeo-engine/src/query/translators/gql/mod.rs
Due: cargo-fmt, cargo-clippy

updated planner for engine v2 work
  crates/grafeo-engine/src/query/planner/lpg/expression.rs
  crates/grafeo-engine/src/query/planner/lpg/mod.rs
  crates/grafeo-engine/src/query/planner/mod.rs
  crates/grafeo-engine/src/query/planner/rdf/mod.rs
Due: cargo-fmt, cargo-clippy

engine v2 work
  crates/grafeo-engine/Cargo.toml
  crates/grafeo-engine/src/admin.rs
  crates/grafeo-engine/src/catalog/mod.rs
  crates/grafeo-engine/src/cdc.rs
  crates/grafeo-engine/src/config.rs
  crates/grafeo-engine/src/lib.rs
  crates/grafeo-engine/src/metrics.rs
  crates/grafeo-engine/src/procedures.rs
  crates/grafeo-engine/src/query/binder.rs
  crates/grafeo-engine/src/query/executor/mod.rs
  crates/grafeo-engine/src/query/executor/procedure_call.rs
  crates/grafeo-engine/src/query/functions.rs
Due: cargo-fmt, cargo-clippy

updated test fixtures
  crates/grafeo-core/tests/fixtures/compact-0.5.41/README.md
  crates/grafeo-core/tests/fixtures/compact-0.5.41/compact_store.bin
  crates/grafeo-core/tests/fixtures/compact-0.5.41/lpg_store.bin
  crates/grafeo-core/tests/fixtures/compact-0.5.44/README.md
  crates/grafeo-core/tests/fixtures/compact-0.5.44/compact_store.bin
  crates/grafeo-core/tests/fixtures/compact-0.5.44/lpg_store.bin
  crates/grafeo-core/tests/fixtures/compact-0.5.44/overlay_deletions.bin
Due: none

vector bug fix
  crates/grafeo-core/src/index/vector/hnsw.rs
  crates/grafeo-core/src/index/vector/mod.rs
  crates/grafeo-core/src/index/vector/quantized_hnsw.rs
Due: cargo-fmt, cargo-clippy

store work for new pipeline
  crates/grafeo-core/src/graph/lpg/chunked.rs
  crates/grafeo-core/src/graph/lpg/committed.rs
  crates/grafeo-core/src/graph/lpg/dictionary.rs
  crates/grafeo-core/src/graph/lpg/mod.rs
  crates/grafeo-core/src/graph/lpg/property.rs
  crates/grafeo-core/src/graph/lpg/section.rs
  crates/grafeo-core/src/graph/lpg/store/edge_ops.rs
  crates/grafeo-core/src/graph/lpg/store/graph_store_impl.rs
  crates/grafeo-core/src/graph/lpg/store/index.rs
  crates/grafeo-core/src/graph/lpg/store/memory.rs
  crates/grafeo-core/src/graph/lpg/store/mod.rs
  crates/grafeo-core/src/graph/lpg/store/node_ops.rs
  crates/grafeo-core/src/graph/lpg/store/open_changes.rs
  crates/grafeo-core/src/graph/lpg/store/property_ops.rs
  crates/grafeo-core/src/graph/lpg/store/schema.rs
  crates/grafeo-core/src/graph/lpg/store/search.rs
  crates/grafeo-core/src/graph/lpg/store/statistics.rs
  crates/grafeo-core/src/graph/lpg/store/tests.rs
  crates/grafeo-core/src/graph/lpg/store/traversal.rs
  crates/grafeo-core/src/graph/lpg/store/versioning.rs
Due: cargo-fmt, cargo-clippy

compact store removal/work
  crates/grafeo-core/src/graph/compact/column.rs
  crates/grafeo-core/src/graph/compact/csr.rs
  crates/grafeo-core/src/graph/compact/deletions_section.rs
  crates/grafeo-core/src/graph/compact/fold.rs
  crates/grafeo-core/src/graph/compact/id.rs
  crates/grafeo-core/src/graph/compact/mod.rs
  crates/grafeo-core/src/graph/compact/node_table.rs
  crates/grafeo-core/src/graph/compact/rel_table.rs
  crates/grafeo-core/src/graph/compact/schema.rs
  crates/grafeo-core/src/graph/compact/section.rs
  crates/grafeo-core/src/graph/compact/zone_map.rs
  crates/grafeo-core/src/index/adjacency.rs
  crates/grafeo-core/src/index/zone_map.rs
Due: cargo-fmt, cargo-clippy

updated operators
  crates/grafeo-core/src/execution/mod.rs
  crates/grafeo-core/src/execution/operators/filter.rs
  crates/grafeo-core/src/execution/operators/functions.rs
  crates/grafeo-core/src/execution/operators/mod.rs
  crates/grafeo-core/src/execution/operators/mutation.rs
  crates/grafeo-core/src/execution/operators/range_scan.rs
  crates/grafeo-core/src/execution/operators/value_utils.rs
  crates/grafeo-core/src/execution/operators/writer.rs
Due: cargo-fmt, cargo-clippy
