Repository GrafeoDB/grafeo: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, ruff-check, ruff-format

.pre-commit-config.yaml:

# Pre-commit hooks for Grafeo
# Install: cargo install prek && prek install
# Run manually: prek run --all-files
# Docs: https://github.com/j178/prek

repos:
  # Built-in prek hooks
  - repo: builtin
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixers
        exclude: '\.md$'
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Typo checker
  - repo: https://github.com/crate-ci/typos
    rev: v1.29.4
    hooks:
      - id: typos

  # Local Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

      # Coverage check - manual only (too slow for every commit)
      # Run with: prek run cargo-llvm-cov
      - id: cargo-llvm-cov
        name: cargo llvm-cov
        entry: cargo llvm-cov --all-features --workspace --fail-under-lines 70
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]

  # Python hooks
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]

added ecosystem section to README.md
  README.md
Due: none

added grafeo-server to contributors
  CONTRIBUTORS.md
Due: none

mo test/linters mo problems
  crates/bindings/node/__test__/index.spec.mjs
  crates/grafeo-common/src/memory/arena.rs
  crates/grafeo-common/src/memory/buffer/manager.rs
  crates/grafeo-core/src/execution/operators/expand.rs
  crates/grafeo-core/src/execution/operators/factorized_expand.rs
  crates/grafeo-core/src/execution/operators/shortest_path.rs
  crates/grafeo-core/src/execution/operators/variable_length_expand.rs
  crates/grafeo-engine/src/query/graphql_translator.rs
Due: cargo-fmt, cargo-clippy

windows file locking fix
  crates/bindings/node/__test__/index.spec.mjs
Due: none

now without the merge markers
  crates/bindings/node/__test__/index.spec.mjs
Due: none

today i learned about the miri parking_lot problem
  crates/grafeo-common/src/memory/arena.rs
  crates/grafeo-common/src/memory/pool.rs
Due: cargo-fmt, cargo-clippy

more miri fixes amd small vector improvements
  crates/bindings/node/Cargo.toml
  crates/bindings/node/src/database.rs
  crates/bindings/python/src/database.rs
  crates/bindings/python/uv.lock
  crates/grafeo-common/src/types/timestamp.rs
  crates/grafeo-core/src/index/vector/config.rs
  crates/grafeo-core/src/index/vector/hnsw.rs
  crates/grafeo-engine/src/database.rs
  tests/python/lpg/gql/test_vectors.py
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

added uvlock
  crates/bindings/python/uv.lock
Due: none

twst vectors fix
  tests/python/lpg/gql/test_vectors.py
Due: ruff-check, ruff-format

miri fix and updated changelog
  CHANGELOG.md
  crates/grafeo-common/src/memory/bump.rs
Due: cargo-fmt, cargo-clippy

updated CHANGELOG.md
  CHANGELOG.md
Due: none

added test
  crates/bindings/node/__test__/index.spec.mjs
  crates/grafeo-core/src/index/vector/distance.rs
  crates/grafeo-core/src/index/vector/hnsw.rs
  tests/python/lpg/gql/test_property_apis.py
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

lets go
  Cargo.lock
  Cargo.toml
  crates/bindings/c/Cargo.toml
  crates/bindings/c/build.rs
  crates/bindings/c/grafeo.h
  crates/bindings/c/src/database.rs
  crates/bindings/c/src/error.rs
  crates/bindings/c/src/lib.rs
  crates/bindings/c/src/types.rs
  crates/bindings/go/README.md
  crates/bindings/go/admin.go
  crates/bindings/go/edge.go
  crates/bindings/go/errors.go
  crates/bindings/go/go.mod
  crates/bindings/go/grafeo.go
  crates/bindings/go/grafeo.h
  crates/bindings/go/grafeo_test.go
  crates/bindings/go/index.go
  crates/bindings/go/node.go
  crates/bindings/go/transaction.go
  crates/bindings/go/types.go
  crates/bindings/go/vector.go
Due: cargo-fmt, cargo-clippy, cargo-deny

version bump to 0.4.1
  Cargo.lock
  Cargo.toml
  crates/bindings/node/package.json
  crates/bindings/python/pyproject.toml
Due: cargo-deny

dynamic version in node.js test
  crates/bindings/node/__test__/index.spec.mjs
  crates/grafeo-common/src/memory/buffer/manager.rs
Due: cargo-fmt, cargo-clippy

nmp publish fix and removed old stub
  .github/workflows/release.yml
  crates/bindings/js/README.md
  crates/bindings/js/index.d.ts
  crates/bindings/js/index.js
  crates/bindings/js/package.json
Due: none

updated LICENSE
  LICENSE
Due: none

improve codecov reporting and overall coverage
  .github/workflows/ci.yml
  Cargo.lock
  codecov.yml
  crates/grafeo-adapters/Cargo.toml
  crates/grafeo-adapters/src/plugins/algorithms/flow.rs
  crates/grafeo-adapters/src/plugins/algorithms/traversal.rs
  crates/grafeo-adapters/src/storage/wal/record.rs
  crates/grafeo-core/src/execution/operators/expand.rs
  crates/grafeo-core/src/execution/operators/variable_length_expand.rs
  crates/grafeo-engine/Cargo.toml
  crates/grafeo-engine/src/admin.rs
  crates/grafeo-engine/src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

updated CHANGELOG.md for release 0.4.1
  CHANGELOG.md
Due: none

Update grafeo-server.md
  docs/ecosystem/grafeo-server.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

version bump
  Cargo.lock
  Cargo.toml
  crates/bindings/node/package.json
  crates/bindings/python/pyproject.toml
Due: cargo-deny

removed dependecies that are nit needed in the end
  Cargo.lock
  crates/grafeo-adapters/Cargo.toml
  crates/grafeo-common/Cargo.toml
  crates/grafeo-core/Cargo.toml
  crates/grafeo-engine/Cargo.toml
  crates/grafeo/Cargo.toml
Due: cargo-deny

added wasm bindings with a feature-gated impl.
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  crates/bindings/wasm/Cargo.toml
  crates/bindings/wasm/grafeo_wasm.d.ts
  crates/bindings/wasm/grafeo_wasm.js
  crates/bindings/wasm/package.json
  crates/bindings/wasm/src/lib.rs
  crates/bindings/wasm/src/types.rs
  crates/bindings/wasm/src/utils.rs
  crates/grafeo-adapters/src/plugins/algorithms/clustering.rs
  crates/grafeo-adapters/src/plugins/algorithms/mod.rs
  crates/grafeo-adapters/src/storage/mod.rs
  crates/grafeo-common/Cargo.toml
  crates/grafeo-core/src/execution/mod.rs
  crates/grafeo-core/src/execution/operators/mod.rs
  crates/grafeo-core/src/execution/operators/push/aggregate.rs
  crates/grafeo-core/src/execution/operators/push/mod.rs
  crates/grafeo-core/src/execution/operators/push/sort.rs
  crates/grafeo-core/src/index/vector/hnsw.rs
  crates/grafeo-core/src/index/vector/mod.rs
  crates/grafeo-core/src/index/vector/quantized_hnsw.rs
  crates/grafeo-core/src/index/vector/simd.rs
  crates/grafeo-core/src/index/vector/storage.rs
  crates/grafeo-engine/Cargo.toml
  crates/grafeo-engine/src/config.rs
  crates/grafeo-engine/src/database.rs
  crates/grafeo-engine/src/transaction/mod.rs
  crates/grafeo/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-deny

added wasm binding feature to CHANGELOG.md
  CHANGELOG.md
  Cargo.toml
Due: cargo-deny

removed another clippy allow
  Cargo.toml
Due: cargo-deny

clippy fix
  crates/bindings/python/src/types.rs
  crates/grafeo-adapters/src/plugins/algorithms/centrality.rs
  crates/grafeo-adapters/src/plugins/algorithms/community.rs
  crates/grafeo-adapters/src/plugins/algorithms/traversal.rs
  crates/grafeo-adapters/src/storage/wal/log.rs
  crates/grafeo-adapters/src/storage/wal/recovery.rs
  crates/grafeo-cli/src/commands/stats.rs
  crates/grafeo-cli/src/commands/wal.rs
  crates/grafeo-core/src/execution/adaptive.rs
  crates/grafeo-core/src/execution/operators/aggregate.rs
  crates/grafeo-core/src/execution/operators/distinct.rs
  crates/grafeo-core/src/execution/operators/factorized_expand.rs
  crates/grafeo-core/src/execution/operators/filter.rs
  crates/grafeo-core/src/execution/operators/merge.rs
  crates/grafeo-core/src/execution/operators/project.rs
  crates/grafeo-core/src/execution/operators/push/aggregate.rs
  crates/grafeo-core/src/execution/operators/push/distinct.rs
  crates/grafeo-core/src/execution/operators/push/filter.rs
  crates/grafeo-core/src/execution/operators/shortest_path.rs
  crates/grafeo-core/src/execution/parallel/source.rs
  crates/grafeo-core/src/graph/lpg/property.rs
  crates/grafeo-core/src/graph/lpg/store.rs
  crates/grafeo-core/src/graph/rdf/store.rs
  crates/grafeo-core/src/index/trie.rs
  crates/grafeo-core/src/index/vector/distance.rs
  crates/grafeo-core/src/index/vector/hnsw.rs
  crates/grafeo-core/src/index/zone_map.rs
  crates/grafeo-core/src/statistics/collector.rs
  crates/grafeo-core/src/statistics/histogram.rs
  crates/grafeo-core/src/storage/succinct/wavelet.rs
  crates/grafeo-engine/src/query/binder.rs
  crates/grafeo-engine/src/query/executor/mod.rs
  crates/grafeo-engine/src/query/gql_translator.rs
  crates/grafeo-engine/src/query/graphql_translator.rs
  crates/grafeo-engine/src/query/optimizer/cardinality.rs
  crates/grafeo-engine/src/query/optimizer/join_order.rs
Due: cargo-fmt, cargo-clippy

added tests
  crates/grafeo-engine/src/query/binder.rs
  crates/grafeo-engine/src/query/graphql_translator.rs
  crates/grafeo-engine/src/query/gremlin_translator.rs
Due: cargo-fmt, cargo-clippy

added tests
  crates/grafeo-core/src/graph/lpg/store.rs
  crates/grafeo-engine/src/query/gql_translator.rs
Due: cargo-fmt, cargo-clippy

Updated CHANGELOG.md
  CHANGELOG.md
Due: none

added date for 0.4.2 release
  CHANGELOG.md
Due: none

added test
  crates/grafeo-core/src/statistics/collector.rs
Due: cargo-fmt, cargo-clippy

fixed go module versioning
  .github/workflows/release.yml
  CHANGELOG.md
Due: none

updated docs for release 0.4.2
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  crates/grafeo/README.md
  docs/api/index.md
  docs/architecture/crates.md
  docs/ecosystem/interactive-demo.md
  docs/getting-started/cli.md
  docs/getting-started/index.md
  docs/getting-started/installation.md
  docs/index.md
  docs/roadmap.md
  mkdocs.yml
Due: none

Update README.md
  README.md
Due: none

clippy fix after some more allows removed
  .github/workflows/release.yml
  Cargo.toml
  README.md
  crates/grafeo-adapters/src/query/cypher/parser.rs
  crates/grafeo-adapters/src/query/gremlin/lexer.rs
  crates/grafeo-adapters/src/storage/wal/record.rs
  crates/grafeo-common/src/memory/arena.rs
  crates/grafeo-common/src/types/value.rs
  crates/grafeo-core/src/execution/operators/distinct.rs
  crates/grafeo-core/src/execution/operators/filter.rs
  crates/grafeo-core/src/execution/operators/join.rs
  crates/grafeo-core/src/execution/parallel/merge.rs
  crates/grafeo-core/src/execution/spill/partition.rs
  crates/grafeo-core/src/index/vector/hnsw.rs
  crates/grafeo-core/src/storage/succinct/wavelet.rs
  crates/grafeo-engine/src/database.rs
  crates/grafeo-engine/src/query/cypher_translator.rs
  crates/grafeo-engine/src/transaction/manager.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

added conditional store init + query routing mode
  crates/grafeo-engine/src/config.rs
  crates/grafeo-engine/src/database.rs
  crates/grafeo-engine/src/lib.rs
  crates/grafeo-engine/src/session.rs
  crates/grafeo/src/lib.rs
Due: cargo-fmt, cargo-clippy

added contional model check
  crates/grafeo-engine/src/database.rs
Due: cargo-fmt, cargo-clippy

added test
  crates/grafeo-engine/tests/database_creation_options.rs
Due: cargo-fmt, cargo-clippy
