Repository GrafeoDB/grafeo: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, ruff-check, ruff-format

.pre-commit-config.yaml:

# Pre-commit hooks for Grafeo
# Install: cargo install prek && prek install
# Run manually: prek run --all-files
# Docs: https://github.com/j178/prek

repos:
  # Built-in prek hooks
  - repo: builtin
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixers
        exclude: '\.md$'
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Typo checker
  - repo: https://github.com/crate-ci/typos
    rev: v1.29.4
    hooks:
      - id: typos

  # Local Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

      # Coverage check - manual only (too slow for every commit)
      # Run with: prek run cargo-llvm-cov
      - id: cargo-llvm-cov
        name: cargo llvm-cov
        entry: cargo llvm-cov --all-features --workspace --fail-under-lines 70
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]

  # Python hooks
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]

Update README.md
  README.md
Due: none

updated CHANGELOG.md
  CHANGELOG.md
Due: none

fixed discord link
  README.md
Due: none

small fixed and added tests
  crates/bindings/python/src/types.rs
  crates/bindings/python/tests/lpg/gql/test_property_apis.py
  crates/grafeo-core/src/execution/operators/filter.rs
  crates/grafeo-core/src/execution/operators/merge.rs
  crates/grafeo-core/src/execution/operators/mutation.rs
  crates/grafeo-core/src/graph/lpg/store/index.rs
  crates/grafeo-core/src/graph/lpg/store/node_ops.rs
  crates/grafeo-core/src/graph/lpg/store/property_ops.rs
  crates/grafeo-core/src/graph/lpg/store/tests.rs
  crates/grafeo-engine/src/database/crud.rs
  crates/grafeo-engine/src/database/index.rs
  crates/grafeo-engine/src/query/plan.rs
  crates/grafeo-engine/src/query/planner/lpg/filter.rs
  crates/grafeo-engine/src/query/planner/lpg/mutation.rs
  crates/grafeo-engine/src/query/translators/cypher.rs
  crates/grafeo-engine/src/query/translators/gql/pattern.rs
  crates/grafeo-engine/tests/index_after_delete.rs
  crates/grafeo-engine/tests/topk_rewrite.rs
  crates/grafeo-engine/tests/zone_map_pruning.rs
  tests/spec/lpg/cypher/expressions.gtest
  tests/spec/lpg/cypher/regression.gtest
  tests/spec/lpg/cypher/writing_clauses.gtest
  tests/spec/lpg/gql/15.1_insert.gtest
  tests/spec/lpg/gql/15.5_merge.gtest
  tests/spec/lpg/gql/21.3b_temporal_extended.gtest
  tests/spec/regression/edge_cases.gtest
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

fixed discord link
  docs/contributing/index.md
  docs/index.md
  docs/roadmap.md
  tests/spec/README.md
Due: none

fixed discord link
  mkdocs.yml
Due: none

new issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/epic.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

fixes and tests
  crates/bindings/python/src/types.rs
  crates/bindings/python/tests/lpg/gql/test_property_apis.py
  crates/grafeo-adapters/src/query/cypher/parser.rs
  crates/grafeo-adapters/src/query/gql/parser.rs
  crates/grafeo-common/src/types/time.rs
  crates/grafeo-core/src/execution/operators/filter.rs
  crates/grafeo-core/src/execution/operators/merge.rs
  crates/grafeo-core/src/graph/compact/layered.rs
  crates/grafeo-core/src/graph/lpg/store/index.rs
  crates/grafeo-engine/src/query/translators/common.rs
  crates/grafeo-engine/src/query/translators/cypher.rs
  crates/grafeo-engine/src/query/translators/gql/mod.rs
  crates/grafeo-engine/src/query/translators/gql/pattern.rs
  crates/grafeo-engine/tests/index_after_delete.rs
  tests/spec/lpg/cypher/expressions.gtest
  tests/spec/lpg/cypher/regression.gtest
  tests/spec/lpg/gql/15.1_insert.gtest
  tests/spec/lpg/gql/15.5_merge.gtest
  tests/spec/lpg/gql/21.3b_temporal_extended.gtest
  tests/spec/regression/edge_cases.gtest
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

updated roadmap.md in docs
  docs/roadmap.md
Due: none

updated feature profiles in docs
  docs/architecture/feature-profiles.md
Due: none

fix for bug #409
  CHANGELOG.md
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/tests/failed_commit_aborts.rs
Due: cargo-fmt, cargo-clippy

updated CONTRIBUTORS thanks teipsum, jake & jarmen
  CONTRIBUTORS.md
Due: none

bugfix #419 (lost data in WAL-directory databases)
  CHANGELOG.md
  crates/grafeo-engine/src/database/admin.rs
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/tests/wal_directory_checkpoint.rs
  crates/grafeo-storage/src/wal/recovery.rs
Due: cargo-fmt, cargo-clippy

fix for #405 (concurrent database access issue)
  CHANGELOG.md
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/tests/database_lock.rs
  crates/grafeo-storage/src/lib.rs
  crates/grafeo-storage/src/lock.rs
  docs/user-guide/persistence/persistent.md
Due: cargo-fmt, cargo-clippy

wall transaction groups
  crates/grafeo-storage/src/wal/log.rs
  crates/grafeo-storage/src/wal/mod.rs
  crates/grafeo-storage/src/wal/recovery.rs
  crates/grafeo-storage/src/wal/typed.rs
Due: cargo-fmt, cargo-clippy

concurrency problem fully fixed (#411)
  CHANGELOG.md
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/src/database/rdf_ops.rs
  crates/grafeo-engine/src/database/wal_store.rs
  crates/grafeo-engine/src/query/planner/rdf/mod.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/src/session/rdf.rs
  crates/grafeo-engine/src/transaction/mod.rs
  crates/grafeo-engine/src/transaction/wal_buffer.rs
  crates/grafeo-engine/tests/wal_transaction_groups.rs
Due: cargo-fmt, cargo-clippy

fix for #395
  CHANGELOG.md
  crates/grafeo-engine/src/database/crud.rs
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/tests/wal_transaction_groups.rs
Due: cargo-fmt, cargo-clippy

fix for #417
  CHANGELOG.md
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/tests/checkpoint_replay.rs
Due: cargo-fmt, cargo-clippy

fix #417 (checkpoints update wal now)
  CHANGELOG.md
  crates/grafeo-engine/src/database/admin.rs
  crates/grafeo-engine/src/database/flush.rs
  crates/grafeo-engine/tests/checkpoint_replay.rs
  crates/grafeo-storage/src/file/manager.rs
  crates/grafeo-storage/src/wal/log.rs
  crates/grafeo-storage/src/wal/typed.rs
Due: cargo-fmt, cargo-clippy

ci updates
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  crates/grafeo-engine/src/cdc.rs
  crates/grafeo-engine/tests/seam_transaction.rs
  crates/grafeo-engine/tests/streaming_results.rs
Due: cargo-fmt, cargo-clippy

proper fix for #418 atomic checkpoint
  CHANGELOG.md
  crates/grafeo-engine/tests/checkpoint_replay.rs
  crates/grafeo-storage/src/file/manager.rs
  docs/user-guide/persistence/persistent.md
Due: cargo-fmt, cargo-clippy

added policy checks and a single required CI gate Fixes #511
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  codecov.yml
  scripts/check_policy.py
  scripts/tests/test_check_policy.py
Due: ruff-check, ruff-format

added policy checks for prs
  scripts/check_policy.py
  scripts/tests/test_check_policy.py
  scripts/tests/test_check_policy_pr.py
Due: ruff-check, ruff-format

added the pr policy workflow and document pr one
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr-policy.yml
  CHANGELOG.md
  CONTRIBUTING.md
  scripts/check_policy.py
  scripts/tests/test_check_policy_pr.py
Due: ruff-check, ruff-format

fix for #513
  CHANGELOG.md
  crates/grafeo-engine/src/query/translators/common.rs
  crates/grafeo-engine/src/query/translators/cypher.rs
  crates/grafeo-engine/src/query/translators/gql/mod.rs
  crates/grafeo-engine/src/query/translators/gql/pattern.rs
  crates/grafeo-engine/src/query/translators/sql_pgq.rs
  tests/spec/rosetta/multi_label_patterns.gtest
Due: cargo-fmt, cargo-clippy

fix for #514 (shortest-path operator drops pairs)
  crates/grafeo-core/src/execution/operators/shortest_path.rs
Due: cargo-fmt, cargo-clippy

fix for #514 from latest deriva run
  CHANGELOG.md
  crates/grafeo-engine/src/query/binder.rs
  crates/grafeo-engine/src/query/plan.rs
  crates/grafeo-engine/src/query/planner/lpg/mod.rs
  crates/grafeo-engine/src/query/planner/lpg/mutation.rs
  crates/grafeo-engine/src/query/translators/cypher.rs
  crates/grafeo-engine/src/query/translators/gql/mod.rs
  crates/grafeo-engine/src/query/translators/gql/pattern.rs
  docs/user-guide/cypher/paths.md
  docs/user-guide/gql/paths.md
  tests/spec/rosetta/shortest_paths.gtest
Due: cargo-fmt, cargo-clippy

added a warning to CHANGELOG.md for format change
  CHANGELOG.md
Due: none

fix for #422
  CHANGELOG.md
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/src/database/schema_replay.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/tests/ddl_replay.rs
  crates/grafeo-storage/src/wal/mod.rs
  crates/grafeo-storage/src/wal/record.rs
Due: cargo-fmt, cargo-clippy

weird compacted database bug fixes
  CHANGELOG.md
  crates/grafeo-engine/src/database/admin.rs
  crates/grafeo-engine/src/database/async_ops.rs
  crates/grafeo-engine/src/database/checkpoint_timer.rs
  crates/grafeo-engine/src/database/flush.rs
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/tests/checkpoint_sections.rs
Due: cargo-fmt, cargo-clippy

backups no longer miss writes made while they run
  CHANGELOG.md
  crates/grafeo-engine/src/database/backup.rs
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/tests/backup_restore.rs
Due: cargo-fmt, cargo-clippy

inconsistent UTC offsets fix
  CHANGELOG.md
  crates/grafeo-common/src/types/time.rs
Due: cargo-fmt, cargo-clippy

part 2
  CHANGELOG.md
  crates/grafeo-adapters/src/query/cypher/parser.rs
  crates/grafeo-adapters/src/query/gql/parser.rs
  crates/grafeo-adapters/src/query/sql_pgq/parser.rs
Due: cargo-fmt, cargo-clippy

GQL bugfix (insert after match)
  CHANGELOG.md
  crates/grafeo-engine/src/query/translators/gql/mod.rs
  crates/grafeo-engine/src/query/translators/gql/pattern.rs
  tests/spec/lpg/gql/15.1_insert.gtest
Due: cargo-fmt, cargo-clippy

fix(core): read compressed values in PropertyColumn::get
  crates/grafeo-core/src/graph/lpg/property.rs
Due: cargo-fmt, cargo-clippy

fix(core): keep removed and newer values correct with compressed columns
  CHANGELOG.md
  crates/grafeo-core/src/graph/lpg/property.rs
Due: cargo-fmt, cargo-clippy

list expressions fix
  CHANGELOG.md
  crates/grafeo-core/src/execution/operators/filter.rs
  tests/spec/lpg/cypher/regression.gtest
  tests/spec/regression/edge_cases.gtest
Due: cargo-fmt, cargo-clippy
