Repository GrafeoDB/grafeo: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, ruff-check, ruff-format

.pre-commit-config.yaml:

# Pre-commit hooks for Grafeo
# Install: cargo install prek && prek install
# Run manually: prek run --all-files
# Docs: https://github.com/j178/prek

repos:
  # Built-in prek hooks
  - repo: builtin
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixers
        exclude: '\.md$'
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Typo checker
  - repo: https://github.com/crate-ci/typos
    rev: v1.29.4
    hooks:
      - id: typos

  # Local Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        files: ^Cargo\.(toml|lock)$
        pass_filenames: false

      # Coverage check - manual only (too slow for every commit)
      # Run with: prek run cargo-llvm-cov
      - id: cargo-llvm-cov
        name: cargo llvm-cov
        entry: cargo llvm-cov --all-features --workspace --fail-under-lines 70
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]

  # Python hooks
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]

updated CHANGELOG.md
  CHANGELOG.md
Due: none

review comments and #455 fix
  CHANGELOG.md
  crates/grafeo-core/src/graph/compact/layered.rs
  crates/grafeo-core/src/graph/projection.rs
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/src/query/optimizer/mod.rs
  crates/grafeo-engine/src/query/planner/lpg/filter.rs
  crates/grafeo-engine/src/query/planner/lpg/scan.rs
  crates/grafeo-engine/src/query/planner/lpg/seek.rs
  crates/grafeo-engine/src/query/processor.rs
  crates/grafeo-engine/tests/correlated_label_seek.rs
  crates/grafeo-engine/tests/filter_pushdown_sides.rs
  crates/grafeo-engine/tests/index_at_past_epoch.rs
  crates/grafeo-engine/tests/label_selective_scans.rs
  crates/grafeo-engine/tests/spilled_embedding_changes.rs
  scripts/difftest/corpus.py
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

fix for #463
  CHANGELOG.md
  crates/grafeo-core/src/execution/operators/variable_length_expand.rs
  crates/grafeo-engine/src/query/plan.rs
  crates/grafeo-engine/src/query/planner/lpg/expand.rs
  crates/grafeo-engine/src/query/planner/lpg/mod.rs
  crates/grafeo-engine/src/query/planner/lpg/reachability.rs
  crates/grafeo-engine/src/query/planner/lpg/seek.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/src/session/rdf.rs
  docs/user-guide/observability.md
  scripts/difftest/corpus.py
  tests/spec/rosetta/reachable_nodes.gtest
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

review fixes
  crates/grafeo-core/src/graph/projection.rs
  crates/grafeo-engine/tests/spilled_embedding_changes.rs
Due: cargo-fmt, cargo-clippy

fix for #455
  CHANGELOG.md
  crates/grafeo-core/src/execution/operators/join.rs
  crates/grafeo-engine/src/query/plan.rs
  crates/grafeo-engine/src/query/planner/lpg/filter.rs
  crates/grafeo-engine/src/query/planner/lpg/mod.rs
  crates/grafeo-engine/src/query/planner/lpg/scan.rs
  crates/grafeo-engine/src/query/planner/lpg/seek.rs
  crates/grafeo-engine/src/query/planner/lpg/value_join.rs
  crates/grafeo-engine/src/query/processor.rs
  crates/grafeo-engine/tests/value_hash_join.rs
  docs/user-guide/observability.md
  scripts/difftest/corpus.py
  tests/spec/rosetta/match_joined_by_values.gtest
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

chunked section codec streamed index compact sect
  CHANGELOG.md
  crates/grafeo-common/src/storage/chunk.rs
  crates/grafeo-core/src/codec/column_chunk.rs
  crates/grafeo-core/src/codec/mod.rs
  crates/grafeo-core/src/codec/rows_chunker.rs
  crates/grafeo-core/src/codec/succinct/wavelet.rs
  crates/grafeo-core/src/graph/compact/builder.rs
  crates/grafeo-core/src/graph/compact/column.rs
  crates/grafeo-core/src/graph/compact/csr.rs
  crates/grafeo-core/src/graph/compact/deletions_section.rs
  crates/grafeo-core/src/graph/compact/section.rs
  crates/grafeo-core/src/index/ring/mod.rs
  crates/grafeo-core/src/index/ring/packed_dict.rs
  crates/grafeo-core/src/index/ring/packed_format.rs
  crates/grafeo-core/src/index/ring/packed_permutation.rs
  crates/grafeo-core/src/index/ring/packed_wavelet.rs
  crates/grafeo-core/src/index/ring/section.rs
  crates/grafeo-core/src/index/ring/triple_ring.rs
  crates/grafeo-core/src/index/text/inverted_index.rs
  crates/grafeo-core/src/index/text/mod.rs
  crates/grafeo-core/src/index/text/section.rs
  crates/grafeo-core/src/index/vector/hnsw.rs
  crates/grafeo-core/src/index/vector/mod.rs
  crates/grafeo-core/src/index/vector/quantized_hnsw.rs
  crates/grafeo-core/src/index/vector/section.rs
  crates/grafeo-engine/src/database/sections.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/tests/compact_edge_ids.rs
Due: cargo-fmt, cargo-clippy

chunked lpg and rdf sections, streamed section api
  crates/grafeo-common/src/storage/image.rs
  crates/grafeo-common/src/storage/mod.rs
  crates/grafeo-common/src/storage/section.rs
  crates/grafeo-common/src/storage/value_codec.rs
  crates/grafeo-core/src/codec/column_chunk.rs
  crates/grafeo-core/src/execution/operators/writer.rs
  crates/grafeo-core/src/graph/lpg/chunked.rs
  crates/grafeo-core/src/graph/lpg/mod.rs
  crates/grafeo-core/src/graph/lpg/section.rs
  crates/grafeo-core/src/graph/lpg/store/edge_ops.rs
  crates/grafeo-core/src/graph/lpg/store/node_ops.rs
  crates/grafeo-core/src/graph/lpg/store/schema.rs
  crates/grafeo-core/src/graph/rdf/chunked.rs
  crates/grafeo-core/src/graph/rdf/mod.rs
  crates/grafeo-core/src/graph/rdf/section.rs
  crates/grafeo-core/src/graph/rdf/store.rs
  crates/grafeo-core/src/graph/rdf/term.rs
  crates/grafeo-core/src/index/ring/packed_dict.rs
  crates/grafeo-core/src/index/ring/section.rs
  crates/grafeo-core/src/index/ring/triple_ring.rs
  crates/grafeo-engine/src/database/backup.rs
  crates/grafeo-engine/src/database/catalog_section.rs
  crates/grafeo-engine/src/database/flush.rs
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/src/database/persistence.rs
  crates/grafeo-engine/src/database/rdf_ops.rs
  crates/grafeo-engine/src/database/section_consumer.rs
  crates/grafeo-engine/src/database/sections.rs
  crates/grafeo-engine/tests/checkpoint_during_commit.rs
  crates/grafeo-engine/tests/checkpoint_sections.rs
  crates/grafeo-engine/tests/chunked_sections.rs
  crates/grafeo-engine/tests/format_limits.rs
  crates/grafeo-engine/tests/grafeo_file.rs
  crates/grafeo-engine/tests/legacy_spill.rs
  crates/grafeo-engine/tests/rdf_term_encoding.rs
  crates/grafeo-storage/src/file/manager.rs
  crates/grafeo-storage/src/file/mod.rs
  docs/architecture/storage/container-format.md
  docs/architecture/storage/ring-index.md
  docs/user-guide/persistence/persistent.md
Due: cargo-fmt, cargo-clippy

doc updates
  CHANGELOG.md
  docs/architecture/storage/columnar.md
  docs/architecture/storage/container-format.md
  docs/architecture/storage/disk-storage-decisions.md
  docs/architecture/storage/zone-maps.md
  docs/user-guide/persistence/persistent.md
Due: none

more work on storage
  crates/grafeo-common/src/storage/chunk.rs
  crates/grafeo-common/src/storage/image.rs
  crates/grafeo-common/src/storage/section.rs
  crates/grafeo-common/src/testing/chunk_caps.rs
  crates/grafeo-core/src/codec/column_chunk.rs
  crates/grafeo-core/src/codec/rows_chunker.rs
  crates/grafeo-core/src/graph/compact/column.rs
  crates/grafeo-core/src/graph/lpg/chunked.rs
  crates/grafeo-core/src/graph/rdf/chunked.rs
  crates/grafeo-core/src/index/ring/triple_ring.rs
  crates/grafeo-core/src/index/text/section.rs
  crates/grafeo-core/src/index/vector/hnsw.rs
  crates/grafeo-core/src/index/vector/mod.rs
  crates/grafeo-core/src/index/vector/quantized_hnsw.rs
  crates/grafeo-core/src/index/vector/section.rs
  crates/grafeo-engine/src/database/section_consumer.rs
  crates/grafeo-engine/src/database/sections.rs
  crates/grafeo-engine/src/query/planner/lpg/filter.rs
  crates/grafeo-engine/tests/node_seek.rs
  crates/grafeo-storage/src/file/v3/reader.rs
  docs/architecture/storage/container-format.md
Due: cargo-fmt, cargo-clippy

completes #412
  CHANGELOG.md
  crates/grafeo-core/src/execution/operators/mod.rs
  crates/grafeo-core/src/execution/operators/writer.rs
  crates/grafeo-core/src/graph/compact/deletions_section.rs
  crates/grafeo-core/src/graph/compact/layered.rs
  crates/grafeo-core/src/graph/lpg/chunked.rs
  crates/grafeo-core/src/graph/lpg/section.rs
  crates/grafeo-core/src/graph/lpg/store/mod.rs
  crates/grafeo-core/src/graph/lpg/store/open_changes.rs
  crates/grafeo-core/src/graph/lpg/store/property_ops.rs
  crates/grafeo-core/src/graph/lpg/store/versioning.rs
  crates/grafeo-engine/src/database/section_consumer.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/src/transaction/manager.rs
  crates/grafeo-engine/src/transaction/write_tracker.rs
  crates/grafeo-engine/tests/checkpoint_committed_state.rs
  crates/grafeo-engine/tests/checkpoint_during_commit.rs
  crates/grafeo-engine/tests/compact_transactions.rs
Due: cargo-fmt, cargo-clippy

review comment fixes
  CHANGELOG.md
  crates/bindings/python/src/bridges/networkx.rs
  crates/bindings/python/src/bridges/solvor.rs
  crates/grafeo-common/src/storage/catalog_record.rs
  crates/grafeo-core/src/execution/operators/apply.rs
  crates/grafeo-core/src/execution/operators/expand.rs
  crates/grafeo-core/src/execution/operators/factorized_expand.rs
  crates/grafeo-core/src/execution/operators/shortest_path.rs
  crates/grafeo-core/src/execution/operators/variable_length_expand.rs
  crates/grafeo-core/src/graph/compact/layered.rs
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/src/query/binder.rs
  crates/grafeo-engine/src/query/optimizer/mod.rs
  crates/grafeo-engine/src/query/plan.rs
  crates/grafeo-engine/src/query/planner/lpg/join.rs
  crates/grafeo-engine/src/query/planner/lpg/mod.rs
  crates/grafeo-engine/src/query/planner/lpg/mutation.rs
  crates/grafeo-engine/src/query/translators/cypher.rs
  crates/grafeo-engine/src/query/translators/gql/mod.rs
  crates/grafeo-engine/tests/compact_keeps_indexes.rs
  crates/grafeo-engine/tests/foreach_rows.rs
  crates/grafeo-engine/tests/merge_after_write.rs
  crates/grafeo-engine/tests/overlay_merge.rs
  crates/grafeo-engine/tests/typed_paths_see_open_writes.rs
  docs/architecture/storage/container-format.md
  docs/user-guide/compact-store.md
  docs/user-guide/cypher/mutations.md
  tests/spec/lpg/cypher/comprehensions_advanced.gtest
  tests/spec/lpg/cypher/writing_clauses.gtest
  tests/spec/rosetta/merge_after_a_write.gtest
  tests/spec/rosetta/patterns_after_a_write.gtest
Due: cargo-fmt, cargo-clippy

fix: preserve prepared compact bases across concurrent tier changes (#596)
  CHANGELOG.md
  crates/grafeo-engine/src/database/compact_tiered.rs
  crates/grafeo-engine/src/database/section_consumer.rs
Due: cargo-fmt, cargo-clippy

fix: resume aggregation after spill
  CHANGELOG.md
  crates/grafeo-core/src/execution/operators/aggregate.rs
  crates/grafeo-core/src/execution/operators/push/aggregate.rs
  crates/grafeo-engine/tests/push_pipeline_integration.rs
Due: cargo-fmt, cargo-clippy

test: seed checkpoint memory fixtures in batches
  crates/grafeo-engine/tests/peak_memory.rs
Due: cargo-fmt, cargo-clippy

query correctness fixes and tests
  CHANGELOG.md
  crates/grafeo-adapters/src/query/gql/parser.rs
  crates/grafeo-core/src/execution/operators/apply.rs
  crates/grafeo-engine/src/query/planner/lpg/after_write.rs
  crates/grafeo-engine/src/query/planner/lpg/filter.rs
  crates/grafeo-engine/src/query/planner/lpg/join.rs
  crates/grafeo-engine/src/query/planner/lpg/mod.rs
  crates/grafeo-engine/src/query/planner/lpg/mutation.rs
  crates/grafeo-engine/src/query/planner/lpg/seek.rs
  crates/grafeo-engine/src/query/planner/lpg/subquery.rs
  crates/grafeo-engine/src/query/processor.rs
  crates/grafeo-engine/tests/foreach_rows.rs
  crates/grafeo-engine/tests/pattern_after_write.rs
  crates/grafeo-engine/tests/statement_without_a_result.rs
  crates/grafeo-engine/tests/subquery_after_write.rs
  crates/grafeo-engine/tests/unit_call_rows.rs
  scripts/build-wasm.sh
  tests/spec/lpg/cypher/writing_clauses.gtest
  tests/spec/rosetta/call_subqueries.gtest
  tests/spec/rosetta/patterns_after_a_write.gtest
  tests/spec/rosetta/statements_without_a_result.gtest
  tests/spec/rosetta/subqueries_after_a_write.gtest
Due: cargo-fmt, cargo-clippy

fix #596: preserve compact bases across concurrent spills (#601)
  CHANGELOG.md
  crates/grafeo-engine/src/database/compact_tiered.rs
  crates/grafeo-engine/src/database/section_consumer.rs
Due: cargo-fmt, cargo-clippy

fix: resume aggregation after spill (#603)
  crates/grafeo-core/src/execution/operators/aggregate.rs
  crates/grafeo-core/src/execution/operators/push/aggregate.rs
  crates/grafeo-engine/tests/push_pipeline_integration.rs
Due: cargo-fmt, cargo-clippy

fix for #602 (CI green, rollback deadlock)
  .github/workflows/ci.yml
  CHANGELOG.md
  crates/grafeo-common/src/storage/catalog_record.rs
  crates/grafeo-core/src/execution/operators/accumulator.rs
  crates/grafeo-core/src/execution/operators/aggregate.rs
  crates/grafeo-core/src/execution/operators/push/aggregate/mod.rs
  crates/grafeo-core/src/execution/operators/push/aggregate/spill_codec.rs
  crates/grafeo-core/src/graph/lpg/store/property_ops.rs
  crates/grafeo-core/src/graph/lpg/store/tests.rs
  crates/grafeo-engine/src/database/compact_tiered.rs
  crates/grafeo-engine/src/database/mod.rs
  crates/grafeo-engine/src/database/section_consumer.rs
  crates/grafeo-engine/src/query/planner/lpg/aggregate.rs
  crates/grafeo-engine/tests/aggregate_computed_columns.rs
  crates/grafeo-engine/tests/compact_store_tiered_spill.rs
  crates/grafeo-engine/tests/null_and_coercion.rs
  crates/grafeo-engine/tests/overlay_merge.rs
  crates/grafeo-engine/tests/peak_memory.rs
  crates/grafeo-engine/tests/push_pipeline_integration.rs
  scripts/difftest/corpus.py
  scripts/difftest/reviewed/0.6.0.txt
  tests/spec/rosetta/grouped_aggregates_skip_nulls.gtest
  tests/spec/rosetta/values_beside_computed_aggregate_keys.gtest
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

config=non_exhaustive 0.6.x can add settings (#493)
  CHANGELOG.md
  crates/grafeo-engine/src/config.rs
  crates/grafeo-engine/tests/chunked_sections.rs
  crates/grafeo-engine/tests/crash_injection_single_file.rs
  crates/grafeo-engine/tests/database_creation_options.rs
  crates/grafeo-engine/tests/encryption_at_rest.rs
  crates/grafeo-engine/tests/grafeo_file.rs
  docs/getting-started/configuration.md
  docs/getting-started/security.md
Due: cargo-fmt, cargo-clippy

test: seed checkpoint memory fixtures in batches (#607)
  crates/grafeo-engine/tests/peak_memory.rs
Due: cargo-fmt, cargo-clippy

test: remove unused checkpoint fixture batch constant
  crates/grafeo-engine/tests/peak_memory.rs
Due: cargo-fmt, cargo-clippy

perf: avoid rehashing retained DISTINCT keys
  crates/grafeo-core/src/execution/operators/distinct.rs
Due: cargo-fmt, cargo-clippy

fix: preserve typed GROUP BY and DISTINCT keys
  CHANGELOG.md
  crates/grafeo-core/src/execution/operators/aggregate.rs
  crates/grafeo-core/src/execution/operators/distinct.rs
  crates/grafeo-core/src/execution/operators/push/aggregate/mod.rs
  crates/grafeo-core/src/execution/operators/push/distinct.rs
  crates/grafeo-engine/tests/push_pipeline_integration.rs
Due: cargo-fmt, cargo-clippy

fix: preserve typed GROUP BY and row DISTINCT keys (#609)
  CHANGELOG.md
  crates/grafeo-core/src/execution/operators/aggregate.rs
  crates/grafeo-core/src/execution/operators/distinct.rs
  crates/grafeo-core/src/execution/operators/push/aggregate/mod.rs
  crates/grafeo-core/src/execution/operators/push/distinct.rs
  crates/grafeo-engine/tests/push_pipeline_integration.rs
Due: cargo-fmt, cargo-clippy

ci: keep benchmark checks independent of comment posting
  scripts/bench-compare.sh
  scripts/tests/test_bench_compare.py
Due: ruff-check, ruff-format

ci: keep benchmark checks independent of comment posting (#611)
  scripts/bench-compare.sh
  scripts/tests/test_bench_compare.py
Due: ruff-check, ruff-format

test: cover native GROUP BY and DISTINCT value identity
  crates/grafeo-engine/tests/push_pipeline_integration.rs
Due: cargo-fmt, cargo-clippy

test: correct unsupported property type fixtures
  crates/grafeo-engine/tests/type_ddl_checks.rs
  tests/spec/lpg/gql/20.1_schema_ddl.gtest
Due: cargo-fmt, cargo-clippy

small fix and tests
  .github/workflows/ci.yml
  CHANGELOG.md
  _typos.toml
  crates/bindings/python/tests/test_unknown_functions.py
  crates/grafeo-adapters/src/query/gql/ast.rs
  crates/grafeo-adapters/src/query/gql/parser.rs
  crates/grafeo-core/src/execution/operators/accumulator.rs
  crates/grafeo-core/src/execution/operators/functions.rs
  crates/grafeo-core/src/execution/operators/mod.rs
  crates/grafeo-engine/src/catalog/check_eval.rs
  crates/grafeo-engine/src/query/functions.rs
  crates/grafeo-engine/src/query/mod.rs
  crates/grafeo-engine/src/query/planner/lpg/expression.rs
  crates/grafeo-engine/src/query/planner/lpg/mutation.rs
  crates/grafeo-engine/src/query/translators/common.rs
  crates/grafeo-engine/src/query/translators/gql/expression.rs
  crates/grafeo-engine/src/query/translators/sql_pgq.rs
  crates/grafeo-engine/tests/functions_without_their_features.rs
  crates/grafeo-engine/tests/path_search_budget.rs
  crates/grafeo-engine/tests/regex_patterns.rs
  crates/grafeo-engine/tests/type_ddl_checks.rs
  crates/grafeo-engine/tests/unknown_functions.rs
  docs/user-guide/gql/conformance.md
  docs/user-guide/gql/filtering.md
  docs/user-guide/gql/functions-string.md
  scripts/build-wasm.sh
  scripts/difftest/corpus.py
  scripts/difftest/reviewed/0.6.0.txt
  scripts/tests/test_bench_compare.py
  tests/spec/common/error_handling.gtest
  tests/spec/lpg/gql/16.4_string_predicates.gtest
  tests/spec/lpg/gql/20.1_schema_ddl.gtest
  tests/spec/rosetta/regex_match.gtest
  tests/spec/rosetta/unknown_functions.gtest
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

test: cover native GROUP BY and DISTINCT value identity (#613)
  crates/grafeo-engine/tests/push_pipeline_integration.rs
Due: cargo-fmt, cargo-clippy

perf(engine): measure persistent direct-write staging
  crates/grafeo-engine/Cargo.toml
  crates/grafeo-engine/benches/persistent_direct_bench.rs
Due: cargo-fmt, cargo-clippy

fix(storage): classify and fence failed WAL commit groups
  crates/grafeo-storage/src/wal/error.rs
  crates/grafeo-storage/src/wal/log.rs
  crates/grafeo-storage/src/wal/typed.rs
Due: cargo-fmt, cargo-clippy

fix(engine): await WAL before publishing LPG commits
  CHANGELOG.md
  crates/grafeo-common/src/utils/error.rs
  crates/grafeo-engine/src/database/direct.rs
  crates/grafeo-engine/src/session/mod.rs
  crates/grafeo-engine/src/transaction/manager.rs
  crates/grafeo-engine/src/transaction/wal_buffer.rs
  crates/grafeo-engine/tests/checkpoint_during_commit.rs
  crates/grafeo-engine/tests/incomplete_commit.rs
  crates/grafeo-engine/tests/session_wal_durability.rs
Due: cargo-fmt, cargo-clippy
